.avatar-crop-container {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 20px;


}

.avatar-crop-container .picture-select-scroll {
    -fx-vbar-policy : never;
    -fx-hbar-policy : never;
}

