Button, IconButton {
    -fx-text-fill : white;
    -fx-font-weight : bolder;
    -fx-graphic-text-gap : 10;
    -fx-cursor : hand;
    -fx-effect: none;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-height: 40px;
    -icon-color: white;
    -text-color: white;
}

IconButton:pressed:focused,
Button:pressed:focused
{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

IconButton:hover,
Button:hover
{
  -fx-background-color : derive(-fx-accent, -40%);
}

IconButton:focused,
Button:focused {
  -fx-background-color : derive(-fx-accent, -40%), derive(-fx-accent, -40%), -fx-accent;
}

IconButton:cancel,
Button:cancel {
    -fx-background-color: transparent;
    -fx-border-color: -fx-accent;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
    -fx-border-width : 2px;

    -icon-color: -fx-accent;
    -text-color: -fx-accent;
}

IconButton:cancel:hover,
Button:cancel:hover  {
    -text-color : derive(-fx-accent, -40%);
}

IconButton:cancel:focused,
Button:cancel:focused {
    -fx-background-color: transparent;
    -fx-border-color : -fx-accent;
    -fx-border-width : 2px;
}

Button:cancel:hover:focused,
Button:cancel:hover {
    -fx-border-color : derive(-fx-accent, -40%);
}

Button:cancel:focused:pressed {
    -fx-border-color : derive(-fx-accent, -90%);
}

Button .ripple {
    -fx-fill: #ffffff50
}

Button .text {
    -fx-fill: -text-color;
}

.flat {
    -fx-background-color: -light-gray-2;
    -fx-border-color: transparent;
    -text-color: -dark-gray;
        -icon-color: -text-color;
}

.inside-button:focused:pressed,
.inside-button:focused:hover,
.inside-button:focused {
    -fx-background-color: -medium-gray;
    -fx-border-color: transparent;
    -text-color: -dark-gray-2;
    -icon-color: -dark-gray-2;
}

.inside-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -text-color: -dark-gray;
    -icon-color: -text-color;
}

.inside-button:hover {
    -fx-background-color: -light-gray-2;
    -icon-color: -text-color;
}

.flat:focused,
.flat:hover,
.flat:armed {
    -fx-background-color: derive(-fx-accent, 115%);
    -fx-border-color: transparent;
    -text-color: -fx-accent;
}

