.button, Icon.button {
    -fx-text-fill : white;
    -fx-font-weight : bolder;
    -fx-graphic-text-gap : 10;
    -fx-cursor : hand;
    -fx-effect: none;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-height: 40px;
    -icon-color: white;
    -text-color: white;
}

Icon.button:pressed:focused,
.button:pressed:focused
{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

Icon.button:hover,
.button:hover
{
  -fx-background-color : derive(-fx-accent, -40%);
}

Icon.button:focused,
.button:focused {
  -fx-background-color : derive(-fx-accent, -40%), derive(-fx-accent, -40%), -fx-accent;
}

Icon.button:cancel,
.button:cancel {
    -fx-background-color: transparent;
    -fx-border-color: -fx-accent;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
    -fx-border-width : 2px;

    -icon-color: -fx-accent;
    -text-color: -fx-accent;
}

Icon.button:cancel:hover,
.button:cancel:hover  {
    -text-color : derive(-fx-accent, -40%);
}

Icon.button:cancel:focused,
.button:cancel:focused {
    -fx-background-color: transparent;
    -fx-border-color : -fx-accent;
    -fx-border-width : 2px;
}

.button:cancel:hover:focused,
.button:cancel:hover {
    -fx-border-color : derive(-fx-accent, -40%);
}

.button:cancel:focused:pressed {
    -fx-border-color : derive(-fx-accent, -90%);
}

.button .ripple {
    -fx-fill: #ffffff50
}

.button .text {
    -fx-fill: -text-color;
}

.flat {
    -fx-background-color: -light-gray-2;
    -fx-border-color: transparent;
    -text-color: -dark-gray;
        -icon-color: -text-color;
}

.inside-button:focused:pressed,
.inside-button:focused:hover,
.inside-button:focused {
    -fx-background-color: -medium-gray;
    -fx-border-color: transparent;
    -text-color: -dark-gray-2;
    -icon-color: -dark-gray-2;
}

.inside-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -text-color: -dark-gray;
    -icon-color: -text-color;
}

.inside-button:hover {
    -fx-background-color: -light-gray-2;
    -icon-color: -text-color;
}

.flat:focused,
.flat:hover,
.flat:armed {
    -fx-background-color: derive(-fx-accent, 115%);
    -fx-border-color: transparent;
    -text-color: -fx-accent;
}

