/*
    Created on : 25/10/2022, 08:00:15
    Author     : Gleidson Neves da Silveira
    Colors for productivity
    v. 1.0
*/
.root {

    -fx-background-color: -fx-background;

    -fx-accent: #0085ff;

    /* Bootstrap */
    -primary   : #4285f4;
    -info      : #33B5E5;
    -success   : #02C852;
    -warning   : #FF8800;
    -danger    : #FF3547;
    -secondary : #AA66CC;
    -unique    : #880E4F;
    -elegant   : #2E2E2E;

    /* Colors For themes */
    -brown         : #795548;
    -red           : -danger;
    -grapefruit    : #ED5565;
    -grapefruit-2  : #DA4453;
    -bittersweet   : #FC6E51;
    -bittersweet-2 : #F6BB42;
    -deep-orange   : #FF7043;
    -orange        : -warning;
    -amber         : #FFA000;
    -sunflower     : #FFCE54;
    -yellow        : #ffeb3b;
    -lime          : #cddc39;
    -grass         : #A0D468;
    -grass-2       : #8CC152;
    -green         : -success;
    -mint          : #48CFAD;
    -mint-2        : #37BC98;
    -teal          : -info;
    -cyan          : #00BCD4;
    -aqua          : #4FC1E9;
    -aqua-2        : #3BAFDA;
    -blue-jeans    : #5D9CEC;
    -blue-jeans-2  : #4A89DC;
    -blue          : -primary;
    -indigo        : #3F51B5;
    -purple        : #AA66CC;
    -deep-purple   : #512DA8;
    -lavander      : #AC92EC;
    -lavander-2    : #967ADC;
    -pink          : #EC407A;
    -pink-rose     : #EC87C0;
    -pink-rose-2   : #D770AD;
    -light-gray    : #F5F7FA;
    -light-gray-2  : #E6E9ED;
    -medium-gray   : #CCD1D9;
    -medium-gray-2 : #AAB2BD;
    -dark-gray     : #656D78;
    -dark-gray-2   : #434A54;
    -blue-gray     : #78909C;
    -light-green   : #8BC34A;
    -light-blue    : #82B1FF;
    -gray          : #8e8e8e;

    -text-color: -dark-gray;
    -icon-color: -text-color;
    -hover-color: -dark-gray-2;
    -border-color: -light-gray-2;
    -border-hover: -medium-gray-2;
    -fx-background: white;
    -bar-color: -fx-accent;
    -track-color: -light-gray;

    /* Chart Colors */
    CHART_COLOR_1: -info;
    CHART_COLOR_2: -mint;
    CHART_COLOR_3: -amber;
    CHART_COLOR_4: -grapefruit;
    CHART_COLOR_5: -teal;

    CHART_COLOR_1_TRANS_20: derive(-info, 20%);
    CHART_COLOR_2_TRANS_20: derive(-mint, 20%);
    CHART_COLOR_3_TRANS_20: derive(-amber, 20%);
    CHART_COLOR_4_TRANS_20: derive(-grapefruit, 20%);
    /* 70% opacity */
    CHART_COLOR_1_TRANS_70: derive(-info, 70%);
    CHART_COLOR_2_TRANS_70: derive(-mint, 70%);
    CHART_COLOR_3_TRANS_70: derive(-amber, 70%);
    CHART_COLOR_4_TRANS_70: derive(-grapefruit, 70%);

    /* Grid Colors */

	-red: rgb(244, 67, 54);
	 /* web #f44336 */
	-red-50: rgb(255, 235, 238);
	 /* web #ffebee */
	-red-100: rgb(255, 205, 210);
	 /* web #ffcdd2 */
	-red-200: rgb(239, 154, 154);
	 /* web #ef9a9a */
	-red-300: rgb(229, 115, 115);
	 /* web #e57373 */
	-red-400: rgb(239, 83, 80);
	 /* web #ef5350 */
	-red-500: rgb(244, 67, 54);
	 /* web #f44336 */
	-red-600: rgb(229, 57, 53);
	 /* web #e53935 */
	-red-700: rgb(211, 47, 47);
	 /* web #d32f2f */
	-red-800: rgb(198, 40, 40);
	 /* web #c62828 */
	-red-900: rgb(183, 28, 28);
	 /* web #b71c1c */
	-red-a100: rgb(255, 138, 128);
	 /* web #ff8a80 */
	-red-a200: rgb(255, 82, 82);
	 /* web #ff5252 */
	-red-a400: rgb(255, 23, 68);
	 /* web #ff1744 */
	-red-a700: rgb(213, 0, 0);
	 /* web #d50000 */
	-pink: rgb(233, 30, 99);
	 /* web #e91e63 */
	-pink-50: rgb(252, 228, 236);
	 /* web #fce4ec */
	-pink-100: rgb(248, 187, 208);
	 /* web #f8bbd0 */
	-pink-200: rgb(244, 143, 177);
	 /* web #f48fb1 */
	-pink-300: rgb(240, 98, 146);
	 /* web #f06292 */
	-pink-400: rgb(236, 64, 122);
	 /* web #ec407a */
	-pink-500: rgb(233, 30, 99);
	 /* web #e91e63 */
	-pink-600: rgb(216, 27, 96);
	 /* web #d81b60 */
	-pink-700: rgb(194, 24, 91);
	 /* web #c2185b */
	-pink-800: rgb(173, 20, 87);
	 /* web #ad1457 */
	-pink-900: rgb(136, 14, 79);
	 /* web #880e4f */
	-pink-a100: rgb(255, 128, 171);
	 /* web #ff80ab */
	-pink-a200: rgb(255, 64, 129);
	 /* web #ff4081 */
	-pink-a400: rgb(245, 0, 87);
	 /* web #f50057 */
	-pink-a700: rgb(197, 17, 98);
	 /* web #c51162 */
	-purple: rgb(156, 39, 176);
	 /* web #9c27b0 */
	-purple-50: rgb(243, 229, 245);
	 /* web #f3e5f5 */
	-purple-100: rgb(225, 190, 231);
	 /* web #e1bee7 */
	-purple-200: rgb(206, 147, 216);
	 /* web #ce93d8 */
	-purple-300: rgb(186, 104, 200);
	 /* web #ba68c8 */
	-purple-400: rgb(171, 71, 188);
	 /* web #ab47bc */
	-purple-500: rgb(156, 39, 176);
	 /* web #9c27b0 */
	-purple-600: rgb(142, 36, 170);
	 /* web #8e24aa */
	-purple-700: rgb(123, 31, 162);
	 /* web #7b1fa2 */
	-purple-800: rgb(106, 27, 154);
	 /* web #6a1b9a */
	-purple-900: rgb(74, 20, 140);
	 /* web #4a148c */
	-purple-a100: rgb(234, 128, 252);
	 /* web #ea80fc */
	-purple-a200: rgb(224, 64, 251);
	 /* web #e040fb */
	-purple-a400: rgb(213, 0, 249);
	 /* web #d500f9 */
	-purple-a700: rgb(170, 0, 255);
	 /* web #aa00ff */
	-deep-purple: rgb(103, 58, 183);
	 /* web #673ab7 */
	-deep-purple-50: rgb(237, 231, 246);
	 /* web #ede7f6 */
	-deep-purple-100: rgb(209, 196, 233);
	 /* web #d1c4e9 */
	-deep-purple-200: rgb(179, 157, 219);
	 /* web #b39ddb */
	-deep-purple-300: rgb(149, 117, 205);
	 /* web #9575cd */
	-deep-purple-400: rgb(126, 87, 194);
	 /* web #7e57c2 */
	-deep-purple-500: rgb(103, 58, 183);
	 /* web #673ab7 */
	-deep-purple-600: rgb(94, 53, 177);
	 /* web #5e35b1 */
	-deep-purple-700: rgb(81, 45, 168);
	 /* web #512da8 */
	-deep-purple-800: rgb(69, 39, 160);
	 /* web #4527a0 */
	-deep-purple-900: rgb(49, 27, 146);
	 /* web #311b92 */
	-deep-purple-a100: rgb(179, 136, 255);
	 /* web #b388ff */
	-deep-purple-a200: rgb(124, 77, 255);
	 /* web #7c4dff */
	-deep-purple-a400: rgb(101, 31, 255);
	 /* web #651fff */
	-deep-purple-a700: rgb(98, 0, 234);
	 /* web #6200ea */
	-indigo: rgb(63, 81, 181);
	 /* web #3f51b5 */
	-indigo-50: rgb(232, 234, 246);
	 /* web #e8eaf6 */
	-indigo-100: rgb(197, 202, 233);
	 /* web #c5cae9 */
	-indigo-200: rgb(159, 168, 218);
	 /* web #9fa8da */
	-indigo-300: rgb(121, 134, 203);
	 /* web #7986cb */
	-indigo-400: rgb(92, 107, 192);
	 /* web #5c6bc0 */
	-indigo-500: rgb(63, 81, 181);
	 /* web #3f51b5 */
	-indigo-600: rgb(57, 73, 171);
	 /* web #3949ab */
	-indigo-700: rgb(48, 63, 159);
	 /* web #303f9f */
	-indigo-800: rgb(40, 53, 147);
	 /* web #283593 */
	-indigo-900: rgb(26, 35, 126);
	 /* web #1a237e */
	-indigo-a100: rgb(140, 158, 255);
	 /* web #8c9eff */
	-indigo-a200: rgb(83, 109, 254);
	 /* web #536dfe */
	-indigo-a400: rgb(61, 90, 254);
	 /* web #3d5afe */
	-indigo-a700: rgb(48, 79, 254);
	 /* web #304ffe */
	-blue: rgb(33, 150, 243);
	 /* web #2196f3 */
	-blue-50: rgb(227, 242, 253);
	 /* web #e3f2fd */
	-blue-100: rgb(187, 222, 251);
	 /* web #bbdefb */
	-blue-200: rgb(144, 202, 249);
	 /* web #90caf9 */
	-blue-300: rgb(100, 181, 246);
	 /* web #64b5f6 */
	-blue-400: rgb(66, 165, 245);
	 /* web #42a5f5 */
	-blue-500: rgb(33, 150, 243);
	 /* web #2196f3 */
	-blue-600: rgb(30, 136, 229);
	 /* web #1e88e5 */
	-blue-700: rgb(25, 118, 210);
	 /* web #1976d2 */
	-blue-800: rgb(21, 101, 192);
	 /* web #1565c0 */
	-blue-900: rgb(13, 71, 161);
	 /* web #0d47a1 */
	-blue-a100: rgb(130, 177, 255);
	 /* web #82b1ff */
	-blue-a200: rgb(68, 138, 255);
	 /* web #448aff */
	-blue-a400: rgb(41, 121, 255);
	 /* web #2979ff */
	-blue-a700: rgb(41, 98, 255);
	 /* web #2962ff */
	-light-blue: rgb(3, 169, 244);
	 /* web #03a9f4 */
	-light-blue-50: rgb(225, 245, 254);
	 /* web #e1f5fe */
	-light-blue-100: rgb(179, 229, 252);
	 /* web #b3e5fc */
	-light-blue-200: rgb(129, 212, 250);
	 /* web #81d4fa */
	-light-blue-300: rgb(79, 195, 247);
	 /* web #4fc3f7 */
	-light-blue-400: rgb(41, 182, 246);
	 /* web #29b6f6 */
	-light-blue-500: rgb(3, 169, 244);
	 /* web #03a9f4 */
	-light-blue-600: rgb(3, 155, 229);
	 /* web #039be5 */
	-light-blue-700: rgb(2, 136, 209);
	 /* web #0288d1 */
	-light-blue-800: rgb(2, 119, 189);
	 /* web #0277bd */
	-light-blue-900: rgb(1, 87, 155);
	 /* web #01579b */
	-light-blue-a100: rgb(128, 216, 255);
	 /* web #80d8ff */
	-light-blue-a200: rgb(64, 196, 255);
	 /* web #40c4ff */
	-light-blue-a400: rgb(0, 176, 255);
	 /* web #00b0ff */
	-light-blue-a700: rgb(0, 145, 234);
	 /* web #0091ea */
	-cyan: rgb(0, 188, 212);
	 /* web #00bcd4 */
	-cyan-50: rgb(224, 247, 250);
	 /* web #e0f7fa */
	-cyan-100: rgb(178, 235, 242);
	 /* web #b2ebf2 */
	-cyan-200: rgb(128, 222, 234);
	 /* web #80deea */
	-cyan-300: rgb(77, 208, 225);
	 /* web #4dd0e1 */
	-cyan-400: rgb(38, 198, 218);
	 /* web #26c6da */
	-cyan-500: rgb(0, 188, 212);
	 /* web #00bcd4 */
	-cyan-600: rgb(0, 172, 193);
	 /* web #00acc1 */
	-cyan-700: rgb(0, 151, 167);
	 /* web #0097a7 */
	-cyan-800: rgb(0, 131, 143);
	 /* web #00838f */
	-cyan-900: rgb(0, 96, 100);
	 /* web #006064 */
	-cyan-a100: rgb(132, 255, 255);
	 /* web #84ffff */
	-cyan-a200: rgb(24, 255, 255);
	 /* web #18ffff */
	-cyan-a400: rgb(0, 229, 255);
	 /* web #00e5ff */
	-cyan-a700: rgb(0, 184, 212);
	 /* web #00b8d4 */
	-teal: rgb(0, 150, 136);
	 /* web #009688 */
	-teal-50: rgb(224, 242, 241);
	 /* web #e0f2f1 */
	-teal-100: rgb(178, 223, 219);
	 /* web #b2dfdb */
	-teal-200: rgb(128, 203, 196);
	 /* web #80cbc4 */
	-teal-300: rgb(77, 182, 172);
	 /* web #4db6ac */
	-teal-400: rgb(38, 166, 154);
	 /* web #26a69a */
	-teal-500: rgb(0, 150, 136);
	 /* web #009688 */
	-teal-600: rgb(0, 137, 123);
	 /* web #00897b */
	-teal-700: rgb(0, 121, 107);
	 /* web #00796b */
	-teal-800: rgb(0, 105, 92);
	 /* web #00695c */
	-teal-900: rgb(0, 77, 64);
	 /* web #004d40 */
	-teal-a100: rgb(167, 255, 235);
	 /* web #a7ffeb */
	-teal-a200: rgb(100, 255, 218);
	 /* web #64ffda */
	-teal-a400: rgb(29, 233, 182);
	 /* web #1de9b6 */
	-teal-a700: rgb(0, 191, 165);
	 /* web #00bfa5 */
	-green: rgb(76, 175, 80);
	 /* web #4caf50 */
	-green-50: rgb(232, 245, 233);
	 /* web #e8f5e9 */
	-green-100: rgb(200, 230, 201);
	 /* web #c8e6c9 */
	-green-200: rgb(165, 214, 167);
	 /* web #a5d6a7 */
	-green-300: rgb(129, 199, 132);
	 /* web #81c784 */
	-green-400: rgb(102, 187, 106);
	 /* web #66bb6a */
	-green-500: rgb(76, 175, 80);
	 /* web #4caf50 */
	-green-600: rgb(67, 160, 71);
	 /* web #43a047 */
	-green-700: rgb(56, 142, 60);
	 /* web #388e3c */
	-green-800: rgb(46, 125, 50);
	 /* web #2e7d32 */
	-green-900: rgb(27, 94, 32);
	 /* web #1b5e20 */
	-green-a100: rgb(185, 246, 202);
	 /* web #b9f6ca */
	-green-a200: rgb(105, 240, 174);
	 /* web #69f0ae */
	-green-a400: rgb(0, 230, 118);
	 /* web #00e676 */
	-green-a700: rgb(0, 200, 83);
	 /* web #00c853 */
	-light-green: rgb(139, 195, 74);
	 /* web #8bc34a */
	-light-green-50: rgb(241, 248, 233);
	 /* web #f1f8e9 */
	-light-green-100: rgb(220, 237, 200);
	 /* web #dcedc8 */
	-light-green-200: rgb(197, 225, 165);
	 /* web #c5e1a5 */
	-light-green-300: rgb(174, 213, 129);
	 /* web #aed581 */
	-light-green-400: rgb(156, 204, 101);
	 /* web #9ccc65 */
	-light-green-500: rgb(139, 195, 74);
	 /* web #8bc34a */
	-light-green-600: rgb(124, 179, 66);
	 /* web #7cb342 */
	-light-green-700: rgb(104, 159, 56);
	 /* web #689f38 */
	-light-green-800: rgb(85, 139, 47);
	 /* web #558b2f */
	-light-green-900: rgb(51, 105, 30);
	 /* web #33691e */
	-light-green-a100: rgb(204, 255, 144);
	 /* web #ccff90 */
	-light-green-a200: rgb(178, 255, 89);
	 /* web #b2ff59 */
	-light-green-a400: rgb(118, 255, 3);
	 /* web #76ff03 */
	-light-green-a700: rgb(100, 221, 23);
	 /* web #64dd17 */
	-lime: rgb(205, 220, 57);
	 /* web #cddc39 */
	-lime-50: rgb(249, 251, 231);
	 /* web #f9fbe7 */
	-lime-100: rgb(240, 244, 195);
	 /* web #f0f4c3 */
	-lime-200: rgb(230, 238, 156);
	 /* web #e6ee9c */
	-lime-300: rgb(220, 231, 117);
	 /* web #dce775 */
	-lime-400: rgb(212, 225, 87);
	 /* web #d4e157 */
	-lime-500: rgb(205, 220, 57);
	 /* web #cddc39 */
	-lime-600: rgb(192, 202, 51);
	 /* web #c0ca33 */
	-lime-700: rgb(175, 180, 43);
	 /* web #afb42b */
	-lime-800: rgb(158, 157, 36);
	 /* web #9e9d24 */
	-lime-900: rgb(130, 119, 23);
	 /* web #827717 */
	-lime-a100: rgb(244, 255, 129);
	 /* web #f4ff81 */
	-lime-a200: rgb(238, 255, 65);
	 /* web #eeff41 */
	-lime-a400: rgb(198, 255, 0);
	 /* web #c6ff00 */
	-lime-a700: rgb(174, 234, 0);
	 /* web #aeea00 */
	-yellow: rgb(255, 235, 59);
	 /* web #ffeb3b */
	-yellow-50: rgb(255, 253, 231);
	 /* web #fffde7 */
	-yellow-100: rgb(255, 249, 196);
	 /* web #fff9c4 */
	-yellow-200: rgb(255, 245, 157);
	 /* web #fff59d */
	-yellow-300: rgb(255, 241, 118);
	 /* web #fff176 */
	-yellow-400: rgb(255, 238, 88);
	 /* web #ffee58 */
	-yellow-500: rgb(255, 235, 59);
	 /* web #ffeb3b */
	-yellow-600: rgb(253, 216, 53);
	 /* web #fdd835 */
	-yellow-700: rgb(251, 192, 45);
	 /* web #fbc02d */
	-yellow-800: rgb(249, 168, 37);
	 /* web #f9a825 */
	-yellow-900: rgb(245, 127, 23);
	 /* web #f57f17 */
	-yellow-a100: rgb(255, 255, 141);
	 /* web #ffff8d */
	-yellow-a200: rgb(255, 255, 0);
	 /* web #ffff00 */
	-yellow-a400: rgb(255, 234, 0);
	 /* web #ffea00 */
	-yellow-a700: rgb(255, 214, 0);
	 /* web #ffd600 */
	-amber: rgb(255, 193, 7);
	 /* web #ffc107 */
	-amber-50: rgb(255, 248, 225);
	 /* web #fff8e1 */
	-amber-100: rgb(255, 249, 196);
	 /* web #fff9c4 */
	-amber-200: rgb(255, 224, 130);
	 /* web #ffe082 */
	-amber-300: rgb(255, 213, 79);
	 /* web #ffd54f */
	-amber-400: rgb(255, 202, 40);
	 /* web #ffca28 */
	-amber-500: rgb(255, 193, 7);
	 /* web #ffc107 */
	-amber-600: rgb(255, 179, 0);
	 /* web #ffb300 */
	-amber-700: rgb(255, 160, 0);
	 /* web #ffa000 */
	-amber-800: rgb(255, 143, 0);
	 /* web #ff8f00 */
	-amber-900: rgb(255, 111, 0);
	 /* web #ff6f00 */
	-amber-a100: rgb(255, 229, 127);
	 /* web #ffe57f */
	-amber-a200: rgb(255, 215, 64);
	 /* web #ffd740 */
	-amber-a400: rgb(255, 196, 0);
	 /* web #ffc400 */
	-amber-a700: rgb(255, 171, 0);
	 /* web #ffab00 */
	-orange: rgb(255, 152, 0);
	 /* web #ff9800 */
	-orange-50: rgb(255, 243, 224);
	 /* web #fff3e0 */
	-orange-100: rgb(255, 224, 178);
	 /* web #ffe0b2 */
	-orange-200: rgb(255, 204, 128);
	 /* web #ffcc80 */
	-orange-300: rgb(255, 183, 77);
	 /* web #ffb74d */
	-orange-400: rgb(255, 167, 38);
	 /* web #ffa726 */
	-orange-500: rgb(255, 152, 0);
	 /* web #ff9800 */
	-orange-600: rgb(251, 140, 0);
	 /* web #fb8c00 */
	-orange-700: rgb(245, 124, 0);
	 /* web #f57c00 */
	-orange-800: rgb(239, 108, 0);
	 /* web #ef6c00 */
	-orange-900: rgb(230, 81, 0);
	 /* web #e65100 */
	-orange-a100: rgb(255, 209, 128);
	 /* web #ffd180 */
	-orange-a200: rgb(255, 171, 64);
	 /* web #ffab40 */
	-orange-a400: rgb(255, 145, 0);
	 /* web #ff9100 */
	-orange-a700: rgb(255, 109, 0);
	 /* web #ff6d00 */
	-deep-orange: rgb(255, 87, 34);
	 /* web #ff5722 */
	-deep-orange-50: rgb(251, 233, 231);
	 /* web #fbe9e7 */
	-deep-orange-100: rgb(255, 204, 188);
	 /* web #ffccbc */
	-deep-orange-200: rgb(255, 171, 145);
	 /* web #ffab91 */
	-deep-orange-300: rgb(255, 138, 101);
	 /* web #ff8a65 */
	-deep-orange-400: rgb(255, 112, 67);
	 /* web #ff7043 */
	-deep-orange-500: rgb(255, 87, 34);
	 /* web #ff5722 */
	-deep-orange-600: rgb(244, 81, 30);
	 /* web #f4511e */
	-deep-orange-700: rgb(230, 74, 25);
	 /* web #e64a19 */
	-deep-orange-800: rgb(216, 67, 21);
	 /* web #d84315 */
	-deep-orange-900: rgb(191, 54, 12);
	 /* web #bf360c */
	-deep-orange-a100: rgb(255, 158, 128);
	 /* web #ff9e80 */
	-deep-orange-a200: rgb(255, 110, 64);
	 /* web #ff6e40 */
	-deep-orange-a400: rgb(255, 61, 0);
	 /* web #ff3d00 */
	-deep-orange-a700: rgb(221, 44, 0);
	 /* web #dd2c00 */
	-brown: rgb(121, 85, 72);
	 /* web #795548 */
	-brown-50: rgb(239, 235, 233);
	 /* web #efebe9 */
	-brown-100: rgb(215, 204, 200);
	 /* web #d7ccc8 */
	-brown-200: rgb(188, 170, 164);
	 /* web #bcaaa4 */
	-brown-300: rgb(161, 136, 127);
	 /* web #a1887f */
	-brown-400: rgb(141, 110, 99);
	 /* web #8d6e63 */
	-brown-500: rgb(121, 85, 72);
	 /* web #795548 */
	-brown-600: rgb(109, 76, 65);
	 /* web #6d4c41 */
	-brown-700: rgb(93, 64, 55);
	 /* web #5d4037 */
	-brown-800: rgb(78, 52, 46);
	 /* web #4e342e */
	-brown-900: rgb(62, 39, 35);
	 /* web #3e2723 */
	-grey: rgb(158, 158, 158);
	 /* web #9e9e9e */
	-grey-50: rgb(250, 250, 250);
	 /* web #fafafa */
	-grey-100: rgb(245, 245, 245);
	 /* web #f5f5f5 */
	-grey-200: rgb(238, 238, 238);
	 /* web #eeeeee */
	-grey-300: rgb(224, 224, 224);
	 /* web #e0e0e0 */
	-grey-400: rgb(189, 189, 189);
	 /* web #bdbdbd */
	-grey-500: rgb(158, 158, 158);
	 /* web #9e9e9e */
	-grey-600: rgb(117, 117, 117);
	 /* web #757575 */
	-grey-700: rgb(97, 97, 97);
	 /* web #616161 */
	-grey-800: rgb(66, 66, 66);
	 /* web #424242 */
	-grey-900: rgb(33, 33, 33);
	 /* web #212121 */
	-blue-grey: rgb(96, 125, 139);
	 /* web #607d8b */
	-blue-grey-50: rgb(236, 239, 241);
	 /* web #eceff1 */
	-blue-grey-100: rgb(207, 216, 220);
	 /* web #cfd8dc */
	-blue-grey-200: rgb(176, 190, 197);
	 /* web #b0bec5 */
	-blue-grey-300: rgb(144, 164, 174);
	 /* web #90a4ae */
	-blue-grey-400: rgb(120, 144, 156);
	 /* web #78909c */
	-blue-grey-500: rgb(96, 125, 139);
	 /* web #607d8b */
	-blue-grey-600: rgb(84, 110, 122);
	 /* web #546e7a */
	-blue-grey-700: rgb(69, 90, 100);
	 /* web #455a64 */
	-blue-grey-800: rgb(55, 71, 79);
	 /* web #37474f */
	-blue-grey-900: rgb(38, 50, 56);
	 /* web #263238 */


}


/*******************************************************************************
 *                                                                             *
 * Charts                                                                      *
 *                                                                             *
 ******************************************************************************/

.chart {
    -fx-padding: 5px;
}
.chart-plot-background {
    -fx-background-color: -fx-background;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-title {
    -fx-font-size: 1.4em;

}

.chart-title .text {
    -fx-stroke-type: outside;
    -fx-font-smoothing-type: gray;
}

.chart-legend {
   -fx-background-color: -fx-background;
   -fx-effect: none;
   -fx-background-insets: 0 0 -1 0, 0,1;
   -fx-background-radius: 4,4,3;
   -fx-padding: 6px;
}

/*******************************************************************************
 *                                                                             *
 * Axis                                                                        *
 *                                                                             *
 ******************************************************************************/

.axis {
    AXIS_COLOR: derive(-fx-background,-20%);
    -fx-tick-label-font-size: 0.833333em; /* 10px */
    -fx-tick-label-fill: derive(-fx-text-background-color, 30%);
}
.axis:top {
    -fx-border-color: transparent transparent AXIS_COLOR transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent AXIS_COLOR;
}
.axis:bottom {
    -fx-border-color: AXIS_COLOR transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent AXIS_COLOR transparent transparent;
}
.axis:top > .axis-label,
.axis:left > .axis-label {
    -fx-padding: 0 0 4px 0;
}
.axis:bottom > .axis-label,
.axis:right > .axis-label {
    -fx-padding: 4px 0 0 0;
}
.axis-tick-mark,
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: AXIS_COLOR;
}

/*******************************************************************************
 *                                                                             *
 * ChartPlot                                                                   *
 *                                                                             *
 ******************************************************************************/

.chart-vertical-grid-lines {
    -fx-stroke: derive(-fx-background,-10%);
    -fx-stroke-dash-array: 0.25em, 0.25em;
}
.chart-horizontal-grid-lines {
    -fx-stroke: derive(-fx-background,-10%);
    -fx-stroke-dash-array: 0.25em, 0.25em;
}
.chart-alternative-column-fill {
    -fx-fill: null;
    -fx-stroke: null;
}
.chart-alternative-row-fill {
    -fx-fill: null;
    -fx-stroke: null;
}
.chart-vertical-zero-line,
.chart-horizontal-zero-line {
    -fx-stroke: derive(-fx-text-background-color, 40%);
}

/*******************************************************************************
 *                                                                             *
 * ScatterChart                                                                *
 *                                                                             *
 ******************************************************************************/

.chart-symbol { /* solid circle */
    -fx-background-color: CHART_COLOR_1;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color1.chart-symbol { /* solid square */
    -fx-background-color: CHART_COLOR_2;
    -fx-background-radius: 0;
}
.default-color2.chart-symbol { /* solid diamond */
    -fx-background-color: CHART_COLOR_3;
    -fx-background-radius: 0;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
.default-color3.chart-symbol { /* cross */
    -fx-background-color: CHART_COLOR_4;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";
}
.default-color4.chart-symbol { /* solid triangle */
    -fx-background-color: CHART_COLOR_5;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
.default-color5.chart-symbol { /* hollow circle */
    -fx-background-color: CHART_COLOR_6, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color6.chart-symbol { /* hollow square */
    -fx-background-color: CHART_COLOR_7, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
}
.default-color7.chart-symbol { /* hollow diamond */
    -fx-background-color: CHART_COLOR_8, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 2.5;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}

/*******************************************************************************
 *                                                                             *
 * LineChart                                                                     *
 *                                                                             *
 ******************************************************************************/

.chart-line-symbol {
    -fx-background-color: CHART_COLOR_1, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.chart-series-line {
    -fx-stroke: CHART_COLOR_1;
    -fx-stroke-width: 3px;
}
.default-color0.chart-line-symbol { -fx-background-color: CHART_COLOR_1, white; }
.default-color1.chart-line-symbol { -fx-background-color: CHART_COLOR_2, white; }
.default-color2.chart-line-symbol { -fx-background-color: CHART_COLOR_3, white; }
.default-color3.chart-line-symbol { -fx-background-color: CHART_COLOR_4, white; }
.default-color4.chart-line-symbol { -fx-background-color: CHART_COLOR_5, white; }
.default-color5.chart-line-symbol { -fx-background-color: CHART_COLOR_6, white; }
.default-color6.chart-line-symbol { -fx-background-color: CHART_COLOR_7, white; }
.default-color7.chart-line-symbol { -fx-background-color: CHART_COLOR_8, white; }
.default-color0.chart-series-line { -fx-stroke: CHART_COLOR_1; }
.default-color1.chart-series-line { -fx-stroke: CHART_COLOR_2; }
.default-color2.chart-series-line { -fx-stroke: CHART_COLOR_3; }
.default-color3.chart-series-line { -fx-stroke: CHART_COLOR_4; }
.default-color4.chart-series-line { -fx-stroke: CHART_COLOR_5; }
.default-color5.chart-series-line { -fx-stroke: CHART_COLOR_6; }
.default-color6.chart-series-line { -fx-stroke: CHART_COLOR_7; }
.default-color7.chart-series-line { -fx-stroke: CHART_COLOR_8; }

/*******************************************************************************
 *                                                                             *
 * AreaChart                                                                   *
 *                                                                             *
 ******************************************************************************/

.chart-area-symbol {
    -fx-background-color: CHART_COLOR_1, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px; /* makes sure this remains circular */
    -fx-padding: 3px;
}
.default-color0.chart-area-symbol { -fx-background-color: CHART_COLOR_1, white; }
.default-color1.chart-area-symbol { -fx-background-color: CHART_COLOR_2, white; }
.default-color2.chart-area-symbol { -fx-background-color: CHART_COLOR_3, white; }
.default-color3.chart-area-symbol { -fx-background-color: CHART_COLOR_4, white; }
.default-color4.chart-area-symbol { -fx-background-color: CHART_COLOR_5, white; }
.default-color5.chart-area-symbol { -fx-background-color: CHART_COLOR_6, white; }
.default-color6.chart-area-symbol { -fx-background-color: CHART_COLOR_7, white; }
.default-color7.chart-area-symbol { -fx-background-color: CHART_COLOR_8, white; }
.chart-series-area-line {
    -fx-stroke: CHART_COLOR_1;
    -fx-stroke-width: 1px;
}
.default-color0.chart-series-area-line { -fx-stroke: CHART_COLOR_1; }
.default-color1.chart-series-area-line { -fx-stroke: CHART_COLOR_2; }
.default-color2.chart-series-area-line { -fx-stroke: CHART_COLOR_3; }
.default-color3.chart-series-area-line { -fx-stroke: CHART_COLOR_4; }
.default-color4.chart-series-area-line { -fx-stroke: CHART_COLOR_5; }
.default-color5.chart-series-area-line { -fx-stroke: CHART_COLOR_6; }
.default-color6.chart-series-area-line { -fx-stroke: CHART_COLOR_7; }
.default-color7.chart-series-area-line { -fx-stroke: CHART_COLOR_8; }
.chart-series-area-fill {
    -fx-stroke: null;
    -fx-fill: CHART_COLOR_1_TRANS_20;
}
.default-color0.chart-series-area-fill { -fx-fill: CHART_COLOR_1_TRANS_20; }
.default-color1.chart-series-area-fill { -fx-fill: CHART_COLOR_2_TRANS_20; }
.default-color2.chart-series-area-fill { -fx-fill: CHART_COLOR_3_TRANS_20; }
.default-color3.chart-series-area-fill { -fx-fill: CHART_COLOR_4_TRANS_20; }
.default-color4.chart-series-area-fill { -fx-fill: CHART_COLOR_5_TRANS_20; }
.default-color5.chart-series-area-fill { -fx-fill: CHART_COLOR_6_TRANS_20; }
.default-color6.chart-series-area-fill { -fx-fill: CHART_COLOR_7_TRANS_20; }
.default-color7.chart-series-area-fill { -fx-fill: CHART_COLOR_8_TRANS_20; }
.area-legend-symbol {
    -fx-padding: 6px;
    -fx-background-radius: 6px; /* makes sure this remains circular */
    -fx-background-insets: 0, 3;
}

/*******************************************************************************
 *                                                                             *
 * BubbleChart                                                                 *
 *                                                                             *
 ******************************************************************************/

.bubble-legend-symbol {
    -fx-background-radius: 8px;
    -fx-padding: 8px;
}
.chart-bubble {
    -fx-bubble-fill: CHART_COLOR_1_TRANS_70;
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, derive(-fx-bubble-fill,20%), derive(-fx-bubble-fill,-30%));
}
.default-color0.chart-bubble { -fx-bubble-fill: CHART_COLOR_1_TRANS_70; }
.default-color1.chart-bubble { -fx-bubble-fill: CHART_COLOR_2_TRANS_70; }
.default-color2.chart-bubble { -fx-bubble-fill: CHART_COLOR_3_TRANS_70; }
.default-color3.chart-bubble { -fx-bubble-fill: CHART_COLOR_4_TRANS_70; }
.default-color4.chart-bubble { -fx-bubble-fill: CHART_COLOR_5_TRANS_70; }
.default-color5.chart-bubble { -fx-bubble-fill: CHART_COLOR_6_TRANS_70; }
.default-color6.chart-bubble { -fx-bubble-fill: CHART_COLOR_7_TRANS_70; }
.default-color7.chart-bubble { -fx-bubble-fill: CHART_COLOR_8_TRANS_70; }

/*******************************************************************************
 *                                                                             *
 * BarChart                                                                    *
 *                                                                             *
 ******************************************************************************/

.chart-bar {
    -fx-bar-fill: CHART_COLOR_1;
    -fx-background-color:   linear-gradient(to right,
                                derive(-fx-bar-fill, -4%),
                                derive(-fx-bar-fill, -1%),
                                derive(-fx-bar-fill, 0%),
                                derive(-fx-bar-fill, -1%),
                                derive(-fx-bar-fill, -6%)
                              );
    -fx-background-insets: 0;
}
.chart-bar.negative {
    -fx-background-insets: 1 0 0 0;
}
.bar-chart:horizontal .chart-bar {
    -fx-background-insets: 0 0 0 1;
}
.bar-chart:horizontal .chart-bar,
.stacked-bar-chart:horizontal .chart-bar {
    -fx-background-color:   linear-gradient(to bottom,
                                derive(-fx-bar-fill, -4%),
                                derive(-fx-bar-fill, -1%),
                                derive(-fx-bar-fill, 0%),
                                derive(-fx-bar-fill, -1%),
                                derive(-fx-bar-fill, -6%)
                              );
}
.default-color0.chart-bar { -fx-bar-fill: CHART_COLOR_1; }
.default-color1.chart-bar { -fx-bar-fill: CHART_COLOR_2; }
.default-color2.chart-bar { -fx-bar-fill: CHART_COLOR_3; }
.default-color3.chart-bar { -fx-bar-fill: CHART_COLOR_4; }
.default-color4.chart-bar { -fx-bar-fill: CHART_COLOR_5; }
.default-color5.chart-bar { -fx-bar-fill: CHART_COLOR_6; }
.default-color6.chart-bar { -fx-bar-fill: CHART_COLOR_7; }
.default-color7.chart-bar { -fx-bar-fill: CHART_COLOR_8; }
.bar-legend-symbol {
    -fx-padding: 8px;
}

/*******************************************************************************
 *                                                                             *
 * PieChart                                                                    *
 *                                                                             *
 ******************************************************************************/

.chart-pie {
    -fx-pie-color: CHART_COLOR_1;
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-pie-color,20%), derive(-fx-pie-color,-10%));
    -fx-background-insets: 1;
    -fx-border-color: -fx-background;
}
.chart-pie-label {
    -fx-padding: 3px;
    -fx-fill: -fx-text-base-color;
}
.chart-pie-label-line {
    -fx-stroke: derive(-fx-background,-20%);
}
.default-color0.chart-pie { -fx-pie-color: CHART_COLOR_1; }
.default-color1.chart-pie { -fx-pie-color: CHART_COLOR_2; }
.default-color2.chart-pie { -fx-pie-color: CHART_COLOR_3; }
.default-color3.chart-pie { -fx-pie-color: CHART_COLOR_4; }
.default-color4.chart-pie { -fx-pie-color: CHART_COLOR_5; }
.default-color5.chart-pie { -fx-pie-color: CHART_COLOR_6; }
.default-color6.chart-pie { -fx-pie-color: CHART_COLOR_7; }
.default-color7.chart-pie { -fx-pie-color: CHART_COLOR_8; }
.negative.chart-pie {
    -fx-pie-color: transparent;
    -fx-background-color: white;
}
.pie-legend-symbol.chart-pie {
    -fx-background-radius: 8px;
    -fx-padding: 8px;
    -fx-border-color: null;
}
