/*
    Created on : 01/02/2024
    Author     : Gleidson Neves da Silveira
    v. 1.0
*/

/* @Alignment */

.align-center {
    -fx-alignment: center;
}

.align-center-left {
    -fx-alignment: center;
}

.align-center-right {
    -fx-alignment: center;
}

/* @Size */

.size-5 {
    -fx-pref-width: 5px;
    -fx-pref-height: 5px;
}


.size-10 {
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
}


.size-20 {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

.size-50 {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.size-100 {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

.min-size-5 {
    -fx-min-width: 5px;
    -fx-min-height: 5px;
}

.min-size-10 {
    -fx-min-width: 10px;
    -fx-min-height: 10px;
}

.min-size-20 {
    -fx-min-width: 10px;
    -fx-min-height: 10px;
}

.min-size-50 {
    -fx-min-width: 50px;
    -fx-min-height: 50px;
}

.min-size-100 {
    -fx-min-width: 100px;
    -fx-min-height: 100px;
}

.max-size-5 {
    -fx-max-width: 5px;
    -fx-max-height: 5px;
}

.max-size-10 {
    -fx-max-width: 10px;
    -fx-max-height: 10px;
}

.max-size-20 {
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}

.max-size-50 {
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}

.max-size-100 {
    -fx-max-width: 100px;
    -fx-max-height: 100px;
}

/* @Background */

.bg-primary {
    -fx-background-color: -primary;
    -bar-color: -primary;
}

.bg-info {
    -fx-background-color: -info;
    -bar-color: -info;
}

.bg-success {
    -fx-background-color: -success;
        -bar-color: -success;
}

.bg-warning {
    -fx-background-color: -warning;
            -bar-color: -warning;
}

.bg-danger {
    -fx-background-color: -danger;
    -bar-color: -danger;
}

.bg-secondary {
    -fx-background-color: -secondary;
    -bar-color: -secondary;
}

.bg-unique {
    -fx-background-color: -unique;
    -bar-color: -unique;
}

.bg-elegant {
    -fx-background-color: -elegant;
    -bar-color: -elegant;
}

.bg-white {
    -fx-background-color: white;
    -bar-color: white;
}

.bg-light-gray {
    -fx-background-color: -light-gray;
      -bar-color: -light-gray;
}

.bg-light-gray-2 {
    -fx-background-color: -light-gray-2;
      -bar-color: -light-gray-2;
}

.bg-medium-gray {
    -fx-background-color: -medium-gray;
    -bar-color: -medium-gray-2;
}

.bg-medium-gray-2 {
    -fx-background-color: -medium-gray-2;
    -bar-color: -medium-gray-2;
}

.bg-dark-gray {
    -fx-background-color: -dark-gray;
    -bar-color: -dark-gray;
}

.bg-dark-gray-2 {
    -fx-background-color: -dark-gray-2;
    -bar-color: -dark-gray-2;
}

.bg-accent {
    -fx-background-color: -fx-accent;
    -bar-color: -fx-accent;
}

/* @Insets */

.border-insets-1 {
    -fx-border-insets: 1px;
}

.border-insets-5 {
    -fx-border-insets: 5px;
}

.border-insets-10 {
    -fx-border-insets: 10px;
}

.bg-insets-1 {
    -fx-background-insets: 1px;
}

.bg-insets-5 {
    -fx-background-insets: 5px;
}

.bg-insets-10 {
    -fx-background-insets: 10px;
}

/* @Padding */

.padding-2 {
    -fx-padding: 2px;
}

.padding-5 {
    -fx-padding: 5px;
}

.padding-10 {
    -fx-padding: 10px;
}

.padding-20 {
    -fx-padding: 20px;
}

/* @Stroke Width */
.stroke-primary {
    -fx-stroke: -primary;
}

.stroke-info {
    -fx-stroke: -info;
}

.stroke-success {
    -fx-stroke: -success;
}

.stroke-warning {
    -fx-stroke: -warning;
}

.stroke-danger {
    -fx-stroke: -danger;
}

.stroke-secondary {
    -fx-stroke: -secondary;
}

.stroke-unique {
    -fx-stroke: -unique;
}

.stroke-elegant {
    -fx-stroke: -elegant;
}

.stroke-white {
    -fx-stroke: white;
}

.stroke-light-gray {
    -fx-stroke: -light-gray;
}

.stroke-light-gray-2 {
    -fx-stroke: -light-gray-2;
}

.stroke-medium-gray {
    -fx-stroke: -medium-gray;
}

.stroke-medium-gray-2 {
    -fx-stroke: -medium-gray-2;
}

.stroke-dark-gray {
    -fx-stroke: -dark-gray;
}

.stroke-dark-gray-2 {
    -fx-stroke: -dark-gray-2;
}

/* @Stroke size */


.stroke-1 {
    -fx-stroke-width: 1px;
}

.stroke-2 {
    -fx-stroke-width: 2px;
}

.stroke-3 {
    -fx-stroke-width: 3px;
}

.stroke-4 {
    -fx-stroke-width: 4px;
}

.stroke-4 {
    -fx-stroke-width: 5px;
}



/* @Border-size */

.border-1 {
    -fx-border-width: 1px;
}

.border-2 {
    -fx-border-width: 2px;
}

.border-3 {
    -fx-border-width: 3px;
}

.border-4 {
    -fx-border-width: 4px;
}

.border-5 {
    -fx-border-width: 5px;
}

.border-b-1 {
    -fx-border-width : 0px 0px 1px 0px;
}

.border-t-1 {
    -fx-border-width : 1px 0px 0px 0px;
}

.border-r-1 {
    -fx-border-width : 0px 1px 0px 0px;
}

.border-l-1 {
    -fx-border-width : 0px 0px 0px 1px;
}

/* @Border-color */


.border-primary {
    -fx-border-color: -primary;
}

.border-info {
    -fx-border-color: -info;
}

.border-success {
    -fx-border-color: -success;
}

.border-warning {
    -fx-border-color: -warning;
}

.border-danger {
    -fx-border-color: -danger;
}

.border-secondary {
    -fx-border-color: -secondary;
}

.border-unique {
    -fx-border-color: -unique;
}

.border-elegant {
    -fx-border-color: -elegant;
}

.border-white {
    -fx-border-color: white;
}

.border-light-gray {
    -fx-border-color: -light-gray;
}

.border-light-gray-2 {
    -fx-border-color: -light-gray-2;
}

.border-medium-gray {
    -fx-border-color: -medium-gray;
}

.border-medium-gray-2 {
    -fx-border-color: -medium-gray-2;
}

.border-dark-gray {
    -fx-border-color: -dark-gray;
}

.border-dark-gray-2 {
    -fx-border-color: -dark-gray-2;
}


/* @Border-radius */

.radius-2 {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.radius-5 {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/* @Raised */

.raised:pressed, .raised:focused
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 18, 0 , 0 , 10 );
}

.raised:pressed, .raised:focused
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 18, 0 , 0 , 10 );
}

.raised {
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 15, 0 , 0 , 4 );
}

/* @Depth */

.depth-1
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 5, 0 , 0 , 1 );
}

.depth-2
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 10, 0 , 0 , 1 );
}

.depth-3
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 10, 0 , 0 , 2 );
}

