/*
    Created on : 01/02/2024
    Author     : Gleidson Neves da Silveira
    v. 1.0
*/

/* @Cursor */
.cursor-default {
    -fx-cursor: default;
}
.cursor-close-hand {
    -fx-cursor: close_hand;
}
.cursor-open-hand {
    -fx-cursor: open_hand ;
}
.cursor-hand {
    -fx-cursor: hand;
}
.cursor-move {
    -fx-cursor: move;
}
.cursor-wait {
    -fx-cursor: wait;
}
.cursor-text {
    -fx-cursor: text;
}
.cursor-v-resize {
    -fx-cursor: v_resize;
}
.cursor-h-resize {
    -fx-cursor: h_resize;
}
.cursor-n-resize {
    -fx-cursor: n_resize;
}
.cursor-ne-resize {
    -fx-cursor: ne_resize;
}
.cursor-e-resize {
    -fx-cursor: e_resize;
}
.cursor-se-resize {
    -fx-cursor: se_resize;
}
.cursor-s-resize {
    -fx-cursor: s_resize;
}
.cursor-sw-resize {
    -fx-cursor: sw_resize;
}
.cursor-w-resize {
    -fx-cursor: w_resize;
}
.cursor-nw-resize {
    -fx-cursor: nw_resize;
}
.cursor-crosshair {
    -fx-cursor: crosshair;
}
.cursor-none {
    -fx-cursor: none;
}
.cursor-disappear {
    -fx-cursor: disappear;
}
/* @Spacing */
.spacing-2 {
    -fx-spacing: 2px;
}
.spacing-5 {
    -fx-spacing: 5px;
}
.spacing-10 {
    -fx-spacing: 10px;
}
.spacing-20 {
    -fx-spacing: 20px;
}
/* @Content Display */
.display-top {
    -fx-content-display: top;
}
.display-right {
    -fx-content-display: right;
}
.display-bottom {
    -fx-content-display: bottom;
}
.display-left {
    -fx-content-display: left;
}
.display-center {
    -fx-content-display: center;
}
.display-graphic {
    -fx-content-display: graphic_only;
}
.display-text {
    -fx-content-display: text_only;
}
/* @Alignment */

.align-top-left {
    -fx-alignment: top_left;
}
.align-top-center {
    -fx-alignment: top_center;
}
.align-top-center {
    -fx-alignment: top_right;
}
.align-center-right {
    -fx-alignment: center_right;
}
.align-center {
    -fx-alignment: center;
}
.align-center-left {
    -fx-alignment: center_left;
}
.align-bottom-left {
    -fx-alignment: bottom_left;
}
.align-bottom-center {
    -fx-alignment: bottom_center;
}
.align-bottom-right {
    -fx-alignment: bottom_right;
}
/* @Size */
.w-1 {
	-fx-pref-width: 1px;
}
.min-w-1 {
	-fx-min-width: 1px;
}
.max-w-1 {
	-fx-max-width: 1px;
}
.h-1 {
	-fx-pref-height: 1px;
}
.min-h-1 {
	-fx-min-height: 1px;
}
.max-h-1 {
	-fx-max-height: 1px;
}
.w-2 {
	-fx-pref-width: 2px;
}
.min-w-2 {
	-fx-min-width: 2px;
}
.max-w-2 {
	-fx-max-width: 2px;
}
.h-2 {
	-fx-pref-height: 2px;
}
.min-h-2 {
	-fx-min-height: 2px;
}
.max-h-2 {
	-fx-max-height: 2px;
}
.w-3 {
	-fx-pref-width: 3px;
}
.min-w-3 {
	-fx-min-width: 3px;
}
.max-w-3 {
	-fx-max-width: 3px;
}
.h-3 {
	-fx-pref-height: 3px;
}
.min-h-3 {
	-fx-min-height: 3px;
}
.max-h-3 {
	-fx-max-height: 3px;
}
.w-4 {
	-fx-pref-width: 4px;
}
.min-w-4 {
	-fx-min-width: 4px;
}
.max-w-4 {
	-fx-max-width: 4px;
}
.h-4 {
	-fx-pref-height: 4px;
}
.min-h-4 {
	-fx-min-height: 4px;
}
.max-h-4 {
	-fx-max-height: 4px;
}
.w-5 {
	-fx-pref-width: 5px;
}
.min-w-5 {
	-fx-min-width: 5px;
}
.max-w-5 {
	-fx-max-width: 5px;
}
.h-5 {
	-fx-pref-height: 5px;
}
.min-h-5 {
	-fx-min-height: 5px;
}
.max-h-5 {
	-fx-max-height: 5px;
}
.w-6 {
	-fx-pref-width: 6px;
}
.min-w-6 {
	-fx-min-width: 6px;
}
.max-w-6 {
	-fx-max-width: 6px;
}
.h-6 {
	-fx-pref-height: 6px;
}
.min-h-6 {
	-fx-min-height: 6px;
}
.max-h-6 {
	-fx-max-height: 6px;
}
.w-7 {
	-fx-pref-width: 7px;
}
.min-w-7 {
	-fx-min-width: 7px;
}
.max-w-7 {
	-fx-max-width: 7px;
}
.h-7 {
	-fx-pref-height: 7px;
}
.min-h-7 {
	-fx-min-height: 7px;
}
.max-h-7 {
	-fx-max-height: 7px;
}
.w-8 {
	-fx-pref-width: 8px;
}
.min-w-8 {
	-fx-min-width: 8px;
}
.max-w-8 {
	-fx-max-width: 8px;
}
.h-8 {
	-fx-pref-height: 8px;
}
.min-h-8 {
	-fx-min-height: 8px;
}
.max-h-8 {
	-fx-max-height: 8px;
}
.w-9 {
	-fx-pref-width: 9px;
}
.min-w-9 {
	-fx-min-width: 9px;
}
.max-w-9 {
	-fx-max-width: 9px;
}
.h-9 {
	-fx-pref-height: 9px;
}
.min-h-9 {
	-fx-min-height: 9px;
}
.max-h-9 {
	-fx-max-height: 9px;
}
.w-10 {
	-fx-pref-width: 10px;
}
.min-w-10 {
	-fx-min-width: 10px;
}
.max-w-10 {
	-fx-max-width: 10px;
}
.h-10 {
	-fx-pref-height: 10px;
}
.min-h-10 {
	-fx-min-height: 10px;
}
.max-h-10 {
	-fx-max-height: 10px;
}
.w-15 {
	-fx-pref-width: 15px;
}
.min-w-15 {
	-fx-min-width: 15px;
}
.max-w-15 {
	-fx-max-width: 15px;
}
.h-15 {
	-fx-pref-height: 15px;
}
.min-h-15 {
	-fx-min-height: 15px;
}
.max-h-15 {
	-fx-max-height: 15px;
}
.w-20 {
	-fx-pref-width: 20px;
}
.min-w-20 {
	-fx-min-width: 20px;
}
.max-w-20 {
	-fx-max-width: 20px;
}
.h-20 {
	-fx-pref-height: 20px;
}
.min-h-20 {
	-fx-min-height: 20px;
}
.max-h-20 {
	-fx-max-height: 20px;
}
.w-25 {
	-fx-pref-width: 25px;
}
.min-w-25 {
	-fx-min-width: 25px;
}
.max-w-25 {
	-fx-max-width: 25px;
}
.h-25 {
	-fx-pref-height: 25px;
}
.min-h-25 {
	-fx-min-height: 25px;
}
.max-h-25 {
	-fx-max-height: 25px;
}
.w-30 {
	-fx-pref-width: 30px;
}
.min-w-30 {
	-fx-min-width: 30px;
}
.max-w-30 {
	-fx-max-width: 30px;
}
.h-30 {
	-fx-pref-height: 30px;
}
.min-h-30 {
	-fx-min-height: 30px;
}
.max-h-30 {
	-fx-max-height: 30px;
}
.h-40 {
	-fx-pref-height: 40px;
}
.min-h-40 {
	-fx-min-height: 40px;
}
.max-h-40 {
	-fx-max-height: 40px;
}
.w-45 {
	-fx-pref-width: 45px;
}
.min-w-45 {
	-fx-min-width: 45px;
}
.max-w-45 {
	-fx-max-width: 45px;
}
.h-45 {
	-fx-pref-height: 45px;
}
.min-h-45 {
	-fx-min-height: 45px;
}
.max-h-45 {
	-fx-max-height: 45px;
}
.w-50 {
	-fx-pref-width: 50px;
}
.min-w-50 {
	-fx-min-width: 50px;
}
.max-w-50 {
	-fx-max-width: 50px;
}
.h-50 {
	-fx-pref-height: 50px;
}
.min-h-50 {
	-fx-min-height: 50px;
}
.max-h-50 {
	-fx-max-height: 50px;
}
.w-60 {
	-fx-pref-width: 60px;
}
.min-w-60 {
	-fx-min-width: 60px;
}
.max-w-60 {
	-fx-max-width: 60px;
}
.h-60 {
	-fx-pref-height: 60px;
}
.min-h-60 {
	-fx-min-height: 60px;
}
.max-h-60 {
	-fx-max-height: 60px;
}
.w-70 {
	-fx-pref-width: 70px;
}
.min-w-70 {
	-fx-min-width: 70px;
}
.max-w-70 {
	-fx-max-width: 70px;
}
.h-70 {
	-fx-pref-height: 70px;
}
.min-h-70 {
	-fx-min-height: 70px;
}
.max-h-70 {
	-fx-max-height: 70px;
}
.w-80 {
	-fx-pref-width: 80px;
}
.min-w-80 {
	-fx-min-width: 80px;
}
.max-w-80 {
	-fx-max-width: 80px;
}
.h-80 {
	-fx-pref-height: 80px;
}
.min-h-80 {
	-fx-min-height: 80px;
}
.max-h-80 {
	-fx-max-height: 80px;
}
.w-90 {
	-fx-pref-width: 90px;
}
.min-w-90 {
	-fx-min-width: 90px;
}
.max-w-90 {
	-fx-max-width: 90px;
}
.h-90 {
	-fx-pref-height: 90px;
}
.min-h-90 {
	-fx-min-height: 90px;
}
.max-h-90 {
	-fx-max-height: 90px;
}
.w-100 {
	-fx-pref-width: 100px;
}
.min-w-100 {
	-fx-min-width: 100px;
}
.max-w-100 {
	-fx-max-width: 100px;
}
.h-100 {
	-fx-pref-height: 100px;
}
.min-h-100 {
	-fx-min-height: 100px;
}
.max-h-100 {
	-fx-max-height: 100px;
}
.w-200 {
	-fx-pref-width: 200px;
}
.min-w-200 {
	-fx-min-width: 200px;
}
.max-w-200 {
	-fx-max-width: 200px;
}
.h-200 {
	-fx-pref-height: 200px;
}
.min-h-200 {
	-fx-min-height: 200px;
}
.max-h-200 {
	-fx-max-height: 200px;
}
.w-500 {
	-fx-pref-width: 500px;
}
.min-w-500 {
	-fx-min-width: 500px;
}
.max-w-500 {
	-fx-max-width: 500px;
}
.h-500 {
	-fx-pref-height: 500px;
}
.min-h-500 {
	-fx-min-height: 500px;
}
.max-h-500 {
	-fx-max-height: 500px;
}

.size-1 {
	-fx-pref-width: 1px;	-fx-pref-height: 1px;
}
.min-size-1 {
	-fx-min-width: 1px;	-fx-min-height: 1px;
}
.max-size-1 {
	-fx-max-width: 1px;	-fx-max-height: 1px;
}
.min-size-1 {
	-fx-min-width: 1px;	-fx-min-height: 1px;
}
.size-2 {
	-fx-pref-width: 2px;	-fx-pref-height: 2px;
}
.min-size-2 {
	-fx-min-width: 2px;	-fx-min-height: 2px;
}
.max-size-2 {
	-fx-max-width: 2px;	-fx-max-height: 2px;
}
.min-size-2 {
	-fx-min-width: 2px;	-fx-min-height: 2px;
}
.size-3 {
	-fx-pref-width: 3px;	-fx-pref-height: 3px;
}
.min-size-3 {
	-fx-min-width: 3px;	-fx-min-height: 3px;
}
.max-size-3 {
	-fx-max-width: 3px;	-fx-max-height: 3px;
}
.min-size-3 {
	-fx-min-width: 3px;	-fx-min-height: 3px;
}
.size-4 {
	-fx-pref-width: 4px;	-fx-pref-height: 4px;
}
.min-size-4 {
	-fx-min-width: 4px;	-fx-min-height: 4px;
}
.max-size-4 {
	-fx-max-width: 4px;	-fx-max-height: 4px;
}
.min-size-4 {
	-fx-min-width: 4px;	-fx-min-height: 4px;
}
.size-5 {
	-fx-pref-width: 5px;	-fx-pref-height: 5px;
}
.min-size-5 {
	-fx-min-width: 5px;	-fx-min-height: 5px;
}
.max-size-5 {
	-fx-max-width: 5px;	-fx-max-height: 5px;
}
.min-size-5 {
	-fx-min-width: 5px;	-fx-min-height: 5px;
}
.size-6 {
	-fx-pref-width: 6px;	-fx-pref-height: 6px;
}
.min-size-6 {
	-fx-min-width: 6px;	-fx-min-height: 6px;
}
.max-size-6 {
	-fx-max-width: 6px;	-fx-max-height: 6px;
}
.min-size-6 {
	-fx-min-width: 6px;	-fx-min-height: 6px;
}
.size-7 {
	-fx-pref-width: 7px;	-fx-pref-height: 7px;
}
.min-size-7 {
	-fx-min-width: 7px;	-fx-min-height: 7px;
}
.max-size-7 {
	-fx-max-width: 7px;	-fx-max-height: 7px;
}
.min-size-7 {
	-fx-min-width: 7px;	-fx-min-height: 7px;
}
.size-8 {
	-fx-pref-width: 8px;	-fx-pref-height: 8px;
}
.min-size-8 {
	-fx-min-width: 8px;	-fx-min-height: 8px;
}
.max-size-8 {
	-fx-max-width: 8px;	-fx-max-height: 8px;
}
.min-size-8 {
	-fx-min-width: 8px;	-fx-min-height: 8px;
}
.size-9 {
	-fx-pref-width: 9px;	-fx-pref-height: 9px;
}
.min-size-9 {
	-fx-min-width: 9px;	-fx-min-height: 9px;
}
.max-size-9 {
	-fx-max-width: 9px;	-fx-max-height: 9px;
}
.min-size-9 {
	-fx-min-width: 9px;	-fx-min-height: 9px;
}
.size-10 {
	-fx-pref-width: 10px;	-fx-pref-height: 10px;
}
.min-size-10 {
	-fx-min-width: 10px;	-fx-min-height: 10px;
}
.max-size-10 {
	-fx-max-width: 10px;	-fx-max-height: 10px;
}
.min-size-10 {
	-fx-min-width: 10px;	-fx-min-height: 10px;
}
.size-15 {
	-fx-pref-width: 15px;	-fx-pref-height: 15px;
}
.min-size-15 {
	-fx-min-width: 15px;	-fx-min-height: 15px;
}
.max-size-15 {
	-fx-max-width: 15px;	-fx-max-height: 15px;
}
.min-size-15 {
	-fx-min-width: 15px;	-fx-min-height: 15px;
}
.size-20 {
	-fx-pref-width: 20px;	-fx-pref-height: 20px;
}
.min-size-20 {
	-fx-min-width: 20px;	-fx-min-height: 20px;
}
.max-size-20 {
	-fx-max-width: 20px;	-fx-max-height: 20px;
}
.min-size-20 {
	-fx-min-width: 20px;	-fx-min-height: 20px;
}
.size-25 {
	-fx-pref-width: 25px;	-fx-pref-height: 25px;
}
.min-size-25 {
	-fx-min-width: 25px;	-fx-min-height: 25px;
}
.max-size-25 {
	-fx-max-width: 25px;	-fx-max-height: 25px;
}
.min-size-25 {
	-fx-min-width: 25px;	-fx-min-height: 25px;
}
.size-30 {
	-fx-pref-width: 30px;	-fx-pref-height: 30px;
}
.min-size-30 {
	-fx-min-width: 30px;	-fx-min-height: 30px;
}
.max-size-30 {
	-fx-max-width: 30px;	-fx-max-height: 30px;
}
.min-size-30 {
	-fx-min-width: 30px;	-fx-min-height: 30px;
}
.size-40 {
	-fx-pref-width: 40px;	-fx-pref-height: 40px;
}
.min-size-40 {
	-fx-min-width: 40px;	-fx-min-height: 40px;
}
.max-size-40 {
	-fx-max-width: 40px;	-fx-max-height: 40px;
}
.size-45 {
	-fx-pref-width: 45px;	-fx-pref-height: 45px;
}
.min-size-45 {
	-fx-min-width: 45px;	-fx-min-height: 45px;
}
.max-size-45 {
	-fx-max-width: 45px;	-fx-max-height: 45px;
}
.min-size-45 {
	-fx-min-width: 45px;	-fx-min-height: 45px;
}
.size-50 {
	-fx-pref-width: 50px;	-fx-pref-height: 50px;
}
.min-size-50 {
	-fx-min-width: 50px;	-fx-min-height: 50px;
}
.max-size-50 {
	-fx-max-width: 50px;	-fx-max-height: 50px;
}
.min-size-50 {
	-fx-min-width: 50px;	-fx-min-height: 50px;
}
.size-60 {
	-fx-pref-width: 60px;	-fx-pref-height: 60px;
}
.min-size-60 {
	-fx-min-width: 60px;	-fx-min-height: 60px;
}
.max-size-60 {
	-fx-max-width: 60px;	-fx-max-height: 60px;
}
.min-size-60 {
	-fx-min-width: 60px;	-fx-min-height: 60px;
}
.size-70 {
	-fx-pref-width: 70px;	-fx-pref-height: 70px;
}
.min-size-70 {
	-fx-min-width: 70px;	-fx-min-height: 70px;
}
.max-size-70 {
	-fx-max-width: 70px;	-fx-max-height: 70px;
}
.min-size-70 {
	-fx-min-width: 70px;	-fx-min-height: 70px;
}
.size-80 {
	-fx-pref-width: 80px;	-fx-pref-height: 80px;
}
.min-size-80 {
	-fx-min-width: 80px;	-fx-min-height: 80px;
}
.max-size-80 {
	-fx-max-width: 80px;	-fx-max-height: 80px;
}
.min-size-80 {
	-fx-min-width: 80px;	-fx-min-height: 80px;
}
.size-90 {
	-fx-pref-width: 90px;	-fx-pref-height: 90px;
}
.min-size-90 {
	-fx-min-width: 90px;	-fx-min-height: 90px;
}
.max-size-90 {
	-fx-max-width: 90px;	-fx-max-height: 90px;
}
.min-size-90 {
	-fx-min-width: 90px;	-fx-min-height: 90px;
}
.size-100 {
	-fx-pref-width: 100px;	-fx-pref-height: 100px;
}
.min-size-100 {
	-fx-min-width: 100px;	-fx-min-height: 100px;
}
.max-size-100 {
	-fx-max-width: 100px;	-fx-max-height: 100px;
}
.min-size-100 {
	-fx-min-width: 100px;	-fx-min-height: 100px;
}
.size-200 {
	-fx-pref-width: 200px;	-fx-pref-height: 200px;
}
.min-size-200 {
	-fx-min-width: 200px;	-fx-min-height: 200px;
}
.max-size-200 {
	-fx-max-width: 200px;	-fx-max-height: 200px;
}
.min-size-200 {
	-fx-min-width: 200px;	-fx-min-height: 200px;
}
.size-500 {
	-fx-pref-width: 500px;	-fx-pref-height: 500px;
}
.min-size-500 {
	-fx-min-width: 500px;	-fx-min-height: 500px;
}
.max-size-500 {
	-fx-max-width: 500px;	-fx-max-height: 500px;
}
.min-size-500 {
	-fx-min-width: 500px;	-fx-min-height: 500px;
}

/* @Background */

.bg-primary {
    -fx-background-color: -primary;
    -bar-color: -primary;
    -fx-accent: -primary;
}

.bg-info {
    -fx-background-color: -info;
    -bar-color: -info;
    -fx-accent: -info;
}

.bg-success {
    -fx-background-color: -success;
        -bar-color: -success;
        -fx-accent: -success;
}

.bg-warning {
    -fx-background-color: -warning;
            -bar-color: -warning;
            -fx-accent: -warning;
}

.bg-danger {
    -fx-background-color: -danger;
    -bar-color: -danger;
    -fx-accent: -danger;
}

.bg-secondary {
    -fx-background-color: -secondary;
    -bar-color: -secondary;
    -fx-accent: -secondary;
}

.bg-unique {
    -fx-background-color: -unique;
    -bar-color: -unique;
}

.bg-elegant {
    -fx-background-color: -elegant;
    -bar-color: -elegant;
}

.bg-accent {
	-fx-background-color: -fx-accent;
	-bar-color:  -fx-accent;
}
.bg-primary {
	-fx-background-color: -primary;
	-bar-color:  -primary;
}
.bg-info {
	-fx-background-color: -info;
	-bar-color:  -info;
}
.bg-success {
	-fx-background-color: -success;
	-bar-color:  -success;
}
.bg-warning {
	-fx-background-color: -warning;
	-bar-color:  -warning;
}
.bg-danger {
	-fx-background-color: -danger;
	-bar-color:  -danger;
}
.bg-secondary {
	-fx-background-color: -secondary;
	-bar-color:  -secondary;
}
.bg-unique {
	-fx-background-color: -unique;
	-bar-color:  -unique;
}
.bg-elegant {
	-fx-background-color: -elegant;
	-bar-color:  -elegant;
}
.bg-brown {
	-fx-background-color: -brown;
	-bar-color:  -brown;
}
.bg-red {
	-fx-background-color: -red;
	-bar-color:  -red;
}
.bg-grapefruit {
	-fx-background-color: -grapefruit;
	-bar-color:  -grapefruit;
}
.bg-grapefruit-2 {
	-fx-background-color: -grapefruit-2;
	-bar-color:  -grapefruit-2;
}
.bg-bittersweet {
	-fx-background-color: -bittersweet;
	-bar-color:  -bittersweet;
}
.bg-bittersweet-2 {
	-fx-background-color: -bittersweet-2;
	-bar-color:  -bittersweet-2;
}
.bg-deep-orange {
	-fx-background-color: -deep-orange;
	-bar-color:  -deep-orange;
}
.bg-orange {
	-fx-background-color: -orange;
	-bar-color:  -orange;
}
.bg-amber {
	-fx-background-color: -amber;
	-bar-color:  -amber;
}
.bg-sunflower {
	-fx-background-color: -sunflower;
	-bar-color:  -sunflower;
}
.bg-yellow {
	-fx-background-color: -yellow;
	-bar-color:  -yellow;
}
.bg-lime {
	-fx-background-color: -lime;
	-bar-color:  -lime;
}
.bg-grass {
	-fx-background-color: -grass;
	-bar-color:  -grass;
}
.bg-grass-2 {
	-fx-background-color: -grass-2;
	-bar-color:  -grass-2;
}
.bg-green {
	-fx-background-color: -green;
	-bar-color:  -green;
}
.bg-mint {
	-fx-background-color: -mint;
	-bar-color:  -mint;
}
.bg-mint-2 {
	-fx-background-color: -mint-2;
	-bar-color:  -mint-2;
}
.bg-teal {
	-fx-background-color: -teal;
	-bar-color:  -teal;
}
.bg-cyan {
	-fx-background-color: -cyan;
	-bar-color:  -cyan;
}
.bg-aqua {
	-fx-background-color: -aqua;
	-bar-color:  -aqua;
}
.bg-aqua-2 {
	-fx-background-color: -aqua-2;
	-bar-color:  -aqua-2;
}
.bg-blue-jeans {
	-fx-background-color: -blue-jeans;
	-bar-color:  -blue-jeans;
}
.bg-blue-jeans-2 {
	-fx-background-color: -blue-jeans-2;
	-bar-color:  -blue-jeans-2;
}
.bg-blue {
	-fx-background-color: -blue;
	-bar-color:  -blue;
}
.bg-indigo {
	-fx-background-color: -indigo;
	-bar-color:  -indigo;
}
.bg-purple {
	-fx-background-color: -purple;
	-bar-color:  -purple;
}
.bg-deep-purple {
	-fx-background-color: -deep-purple;
	-bar-color:  -deep-purple;
}
.bg-lavander {
	-fx-background-color: -lavander;
	-bar-color:  -lavander;
}
.bg-lavander-2 {
	-fx-background-color: -lavander-2;
	-bar-color:  -lavander-2;
}
.bg-pink {
	-fx-background-color: -pink;
	-bar-color:  -pink;
}
.bg-pink-rose {
	-fx-background-color: -pink-rose;
	-bar-color:  -pink-rose;
}
.bg-pink-rose-2 {
	-fx-background-color: -pink-rose-2;
	-bar-color:  -pink-rose-2;
}
.bg-light-gray {
	-fx-background-color: -light-gray;
	-bar-color:  -light-gray;
}
.bg-light-gray-2 {
	-fx-background-color: -light-gray-2;
	-bar-color:  -light-gray-2;
}
.bg-medium-gray {
	-fx-background-color: -medium-gray;
	-bar-color:  -medium-gray;
}
.bg-medium-gray-2 {
	-fx-background-color: -medium-gray-2;
	-bar-color:  -medium-gray-2;
}
.bg-dark-gray {
	-fx-background-color: -dark-gray;
	-bar-color:  -dark-gray;
}
.bg-dark-gray-2 {
	-fx-background-color: -dark-gray-2;
	-bar-color:  -dark-gray-2;
}
.bg-blue-gray {
	-fx-background-color: -blue-gray;
	-bar-color:  -blue-gray;
}
.bg-light-green {
	-fx-background-color: -light-green;
	-bar-color:  -light-green;
}
.bg-light-blue {
	-fx-background-color: -light-blue;
	-bar-color:  -light-blue;
}
.bg-gray {
	-fx-background-color: -gray;
	-bar-color:  -gray;
}
.bg-white {
	-fx-background-color: white;
	-bar-color:  white;
}

.bg-black {
	-fx-background-color: black;
	-bar-color:  black;
}

/* @ Grid colors */

.bg-red {
	-fx-background-color: -red;
	-bar-color: -red;
}
.bg-red-50 {
	-fx-background-color: -red-50;
	-bar-color: -red-50;
}
.bg-red-100 {
	-fx-background-color: -red-100;
	-bar-color: -red-100;
}
.bg-red-200 {
	-fx-background-color: -red-200;
	-bar-color: -red-200;
}
.bg-red-300 {
	-fx-background-color: -red-300;
	-bar-color: -red-300;
}
.bg-red-400 {
	-fx-background-color: -red-400;
	-bar-color: -red-400;
}
.bg-red-500 {
	-fx-background-color: -red-500;
	-bar-color: -red-500;
}
.bg-red-600 {
	-fx-background-color: -red-600;
	-bar-color: -red-600;
}
.bg-red-700 {
	-fx-background-color: -red-700;
	-bar-color: -red-700;
}
.bg-red-800 {
	-fx-background-color: -red-800;
	-bar-color: -red-800;
}
.bg-red-900 {
	-fx-background-color: -red-900;
	-bar-color: -red-900;
}
.bg-red-a100 {
	-fx-background-color: -red-a100;
	-bar-color: -red-a100;
}
.bg-red-a200 {
	-fx-background-color: -red-a200;
	-bar-color: -red-a200;
}
.bg-red-a400 {
	-fx-background-color: -red-a400;
	-bar-color: -red-a400;
}
.bg-red-a700 {
	-fx-background-color: -red-a700;
	-bar-color: -red-a700;
}
.bg-pink {
	-fx-background-color: -pink;
	-bar-color: -pink;
}
.bg-pink-50 {
	-fx-background-color: -pink-50;
	-bar-color: -pink-50;
}
.bg-pink-100 {
	-fx-background-color: -pink-100;
	-bar-color: -pink-100;
}
.bg-pink-200 {
	-fx-background-color: -pink-200;
	-bar-color: -pink-200;
}
.bg-pink-300 {
	-fx-background-color: -pink-300;
	-bar-color: -pink-300;
}
.bg-pink-400 {
	-fx-background-color: -pink-400;
	-bar-color: -pink-400;
}
.bg-pink-500 {
	-fx-background-color: -pink-500;
	-bar-color: -pink-500;
}
.bg-pink-600 {
	-fx-background-color: -pink-600;
	-bar-color: -pink-600;
}
.bg-pink-700 {
	-fx-background-color: -pink-700;
	-bar-color: -pink-700;
}
.bg-pink-800 {
	-fx-background-color: -pink-800;
	-bar-color: -pink-800;
}
.bg-pink-900 {
	-fx-background-color: -pink-900;
	-bar-color: -pink-900;
}
.bg-pink-a100 {
	-fx-background-color: -pink-a100;
	-bar-color: -pink-a100;
}
.bg-pink-a200 {
	-fx-background-color: -pink-a200;
	-bar-color: -pink-a200;
}
.bg-pink-a400 {
	-fx-background-color: -pink-a400;
	-bar-color: -pink-a400;
}
.bg-pink-a700 {
	-fx-background-color: -pink-a700;
	-bar-color: -pink-a700;
}
.bg-purple {
	-fx-background-color: -purple;
	-bar-color: -purple;
}
.bg-purple-50 {
	-fx-background-color: -purple-50;
	-bar-color: -purple-50;
}
.bg-purple-100 {
	-fx-background-color: -purple-100;
	-bar-color: -purple-100;
}
.bg-purple-200 {
	-fx-background-color: -purple-200;
	-bar-color: -purple-200;
}
.bg-purple-300 {
	-fx-background-color: -purple-300;
	-bar-color: -purple-300;
}
.bg-purple-400 {
	-fx-background-color: -purple-400;
	-bar-color: -purple-400;
}
.bg-purple-500 {
	-fx-background-color: -purple-500;
	-bar-color: -purple-500;
}
.bg-purple-600 {
	-fx-background-color: -purple-600;
	-bar-color: -purple-600;
}
.bg-purple-700 {
	-fx-background-color: -purple-700;
	-bar-color: -purple-700;
}
.bg-purple-800 {
	-fx-background-color: -purple-800;
	-bar-color: -purple-800;
}
.bg-purple-900 {
	-fx-background-color: -purple-900;
	-bar-color: -purple-900;
}
.bg-purple-a100 {
	-fx-background-color: -purple-a100;
	-bar-color: -purple-a100;
}
.bg-purple-a200 {
	-fx-background-color: -purple-a200;
	-bar-color: -purple-a200;
}
.bg-purple-a400 {
	-fx-background-color: -purple-a400;
	-bar-color: -purple-a400;
}
.bg-purple-a700 {
	-fx-background-color: -purple-a700;
	-bar-color: -purple-a700;
}
.bg-deep-purple {
	-fx-background-color: -deep-purple;
	-bar-color: -deep-purple;
}
.bg-deep-purple-50 {
	-fx-background-color: -deep-purple-50;
	-bar-color: -deep-purple-50;
}
.bg-deep-purple-100 {
	-fx-background-color: -deep-purple-100;
	-bar-color: -deep-purple-100;
}
.bg-deep-purple-200 {
	-fx-background-color: -deep-purple-200;
	-bar-color: -deep-purple-200;
}
.bg-deep-purple-300 {
	-fx-background-color: -deep-purple-300;
	-bar-color: -deep-purple-300;
}
.bg-deep-purple-400 {
	-fx-background-color: -deep-purple-400;
	-bar-color: -deep-purple-400;
}
.bg-deep-purple-500 {
	-fx-background-color: -deep-purple-500;
	-bar-color: -deep-purple-500;
}
.bg-deep-purple-600 {
	-fx-background-color: -deep-purple-600;
	-bar-color: -deep-purple-600;
}
.bg-deep-purple-700 {
	-fx-background-color: -deep-purple-700;
	-bar-color: -deep-purple-700;
}
.bg-deep-purple-800 {
	-fx-background-color: -deep-purple-800;
	-bar-color: -deep-purple-800;
}
.bg-deep-purple-900 {
	-fx-background-color: -deep-purple-900;
	-bar-color: -deep-purple-900;
}
.bg-deep-purple-a100 {
	-fx-background-color: -deep-purple-a100;
	-bar-color: -deep-purple-a100;
}
.bg-deep-purple-a200 {
	-fx-background-color: -deep-purple-a200;
	-bar-color: -deep-purple-a200;
}
.bg-deep-purple-a400 {
	-fx-background-color: -deep-purple-a400;
	-bar-color: -deep-purple-a400;
}
.bg-deep-purple-a700 {
	-fx-background-color: -deep-purple-a700;
	-bar-color: -deep-purple-a700;
}
.bg-indigo {
	-fx-background-color: -indigo;
	-bar-color: -indigo;
}
.bg-indigo-50 {
	-fx-background-color: -indigo-50;
	-bar-color: -indigo-50;
}
.bg-indigo-100 {
	-fx-background-color: -indigo-100;
	-bar-color: -indigo-100;
}
.bg-indigo-200 {
	-fx-background-color: -indigo-200;
	-bar-color: -indigo-200;
}
.bg-indigo-300 {
	-fx-background-color: -indigo-300;
	-bar-color: -indigo-300;
}
.bg-indigo-400 {
	-fx-background-color: -indigo-400;
	-bar-color: -indigo-400;
}
.bg-indigo-500 {
	-fx-background-color: -indigo-500;
	-bar-color: -indigo-500;
}
.bg-indigo-600 {
	-fx-background-color: -indigo-600;
	-bar-color: -indigo-600;
}
.bg-indigo-700 {
	-fx-background-color: -indigo-700;
	-bar-color: -indigo-700;
}
.bg-indigo-800 {
	-fx-background-color: -indigo-800;
	-bar-color: -indigo-800;
}
.bg-indigo-900 {
	-fx-background-color: -indigo-900;
	-bar-color: -indigo-900;
}
.bg-indigo-a100 {
	-fx-background-color: -indigo-a100;
	-bar-color: -indigo-a100;
}
.bg-indigo-a200 {
	-fx-background-color: -indigo-a200;
	-bar-color: -indigo-a200;
}
.bg-indigo-a400 {
	-fx-background-color: -indigo-a400;
	-bar-color: -indigo-a400;
}
.bg-indigo-a700 {
	-fx-background-color: -indigo-a700;
	-bar-color: -indigo-a700;
}
.bg-blue {
	-fx-background-color: -blue;
	-bar-color: -blue;
}
.bg-blue-50 {
	-fx-background-color: -blue-50;
	-bar-color: -blue-50;
}
.bg-blue-100 {
	-fx-background-color: -blue-100;
	-bar-color: -blue-100;
}
.bg-blue-200 {
	-fx-background-color: -blue-200;
	-bar-color: -blue-200;
}
.bg-blue-300 {
	-fx-background-color: -blue-300;
	-bar-color: -blue-300;
}
.bg-blue-400 {
	-fx-background-color: -blue-400;
	-bar-color: -blue-400;
}
.bg-blue-500 {
	-fx-background-color: -blue-500;
	-bar-color: -blue-500;
}
.bg-blue-600 {
	-fx-background-color: -blue-600;
	-bar-color: -blue-600;
}
.bg-blue-700 {
	-fx-background-color: -blue-700;
	-bar-color: -blue-700;
}
.bg-blue-800 {
	-fx-background-color: -blue-800;
	-bar-color: -blue-800;
}
.bg-blue-900 {
	-fx-background-color: -blue-900;
	-bar-color: -blue-900;
}
.bg-blue-a100 {
	-fx-background-color: -blue-a100;
	-bar-color: -blue-a100;
}
.bg-blue-a200 {
	-fx-background-color: -blue-a200;
	-bar-color: -blue-a200;
}
.bg-blue-a400 {
	-fx-background-color: -blue-a400;
	-bar-color: -blue-a400;
}
.bg-blue-a700 {
	-fx-background-color: -blue-a700;
	-bar-color: -blue-a700;
}
.bg-light-blue {
	-fx-background-color: -light-blue;
	-bar-color: -light-blue;
}
.bg-light-blue-50 {
	-fx-background-color: -light-blue-50;
	-bar-color: -light-blue-50;
}
.bg-light-blue-100 {
	-fx-background-color: -light-blue-100;
	-bar-color: -light-blue-100;
}
.bg-light-blue-200 {
	-fx-background-color: -light-blue-200;
	-bar-color: -light-blue-200;
}
.bg-light-blue-300 {
	-fx-background-color: -light-blue-300;
	-bar-color: -light-blue-300;
}
.bg-light-blue-400 {
	-fx-background-color: -light-blue-400;
	-bar-color: -light-blue-400;
}
.bg-light-blue-500 {
	-fx-background-color: -light-blue-500;
	-bar-color: -light-blue-500;
}
.bg-light-blue-600 {
	-fx-background-color: -light-blue-600;
	-bar-color: -light-blue-600;
}
.bg-light-blue-700 {
	-fx-background-color: -light-blue-700;
	-bar-color: -light-blue-700;
}
.bg-light-blue-800 {
	-fx-background-color: -light-blue-800;
	-bar-color: -light-blue-800;
}
.bg-light-blue-900 {
	-fx-background-color: -light-blue-900;
	-bar-color: -light-blue-900;
}
.bg-light-blue-a100 {
	-fx-background-color: -light-blue-a100;
	-bar-color: -light-blue-a100;
}
.bg-light-blue-a200 {
	-fx-background-color: -light-blue-a200;
	-bar-color: -light-blue-a200;
}
.bg-light-blue-a400 {
	-fx-background-color: -light-blue-a400;
	-bar-color: -light-blue-a400;
}
.bg-light-blue-a700 {
	-fx-background-color: -light-blue-a700;
	-bar-color: -light-blue-a700;
}
.bg-cyan {
	-fx-background-color: -cyan;
	-bar-color: -cyan;
}
.bg-cyan-50 {
	-fx-background-color: -cyan-50;
	-bar-color: -cyan-50;
}
.bg-cyan-100 {
	-fx-background-color: -cyan-100;
	-bar-color: -cyan-100;
}
.bg-cyan-200 {
	-fx-background-color: -cyan-200;
	-bar-color: -cyan-200;
}
.bg-cyan-300 {
	-fx-background-color: -cyan-300;
	-bar-color: -cyan-300;
}
.bg-cyan-400 {
	-fx-background-color: -cyan-400;
	-bar-color: -cyan-400;
}
.bg-cyan-500 {
	-fx-background-color: -cyan-500;
	-bar-color: -cyan-500;
}
.bg-cyan-600 {
	-fx-background-color: -cyan-600;
	-bar-color: -cyan-600;
}
.bg-cyan-700 {
	-fx-background-color: -cyan-700;
	-bar-color: -cyan-700;
}
.bg-cyan-800 {
	-fx-background-color: -cyan-800;
	-bar-color: -cyan-800;
}
.bg-cyan-900 {
	-fx-background-color: -cyan-900;
	-bar-color: -cyan-900;
}
.bg-cyan-a100 {
	-fx-background-color: -cyan-a100;
	-bar-color: -cyan-a100;
}
.bg-cyan-a200 {
	-fx-background-color: -cyan-a200;
	-bar-color: -cyan-a200;
}
.bg-cyan-a400 {
	-fx-background-color: -cyan-a400;
	-bar-color: -cyan-a400;
}
.bg-cyan-a700 {
	-fx-background-color: -cyan-a700;
	-bar-color: -cyan-a700;
}
.bg-teal {
	-fx-background-color: -teal;
	-bar-color: -teal;
}
.bg-teal-50 {
	-fx-background-color: -teal-50;
	-bar-color: -teal-50;
}
.bg-teal-100 {
	-fx-background-color: -teal-100;
	-bar-color: -teal-100;
}
.bg-teal-200 {
	-fx-background-color: -teal-200;
	-bar-color: -teal-200;
}
.bg-teal-300 {
	-fx-background-color: -teal-300;
	-bar-color: -teal-300;
}
.bg-teal-400 {
	-fx-background-color: -teal-400;
	-bar-color: -teal-400;
}
.bg-teal-500 {
	-fx-background-color: -teal-500;
	-bar-color: -teal-500;
}
.bg-teal-600 {
	-fx-background-color: -teal-600;
	-bar-color: -teal-600;
}
.bg-teal-700 {
	-fx-background-color: -teal-700;
	-bar-color: -teal-700;
}
.bg-teal-800 {
	-fx-background-color: -teal-800;
	-bar-color: -teal-800;
}
.bg-teal-900 {
	-fx-background-color: -teal-900;
	-bar-color: -teal-900;
}
.bg-teal-a100 {
	-fx-background-color: -teal-a100;
	-bar-color: -teal-a100;
}
.bg-teal-a200 {
	-fx-background-color: -teal-a200;
	-bar-color: -teal-a200;
}
.bg-teal-a400 {
	-fx-background-color: -teal-a400;
	-bar-color: -teal-a400;
}
.bg-teal-a700 {
	-fx-background-color: -teal-a700;
	-bar-color: -teal-a700;
}
.bg-green {
	-fx-background-color: -green;
	-bar-color: -green;
}
.bg-green-50 {
	-fx-background-color: -green-50;
	-bar-color: -green-50;
}
.bg-green-100 {
	-fx-background-color: -green-100;
	-bar-color: -green-100;
}
.bg-green-200 {
	-fx-background-color: -green-200;
	-bar-color: -green-200;
}
.bg-green-300 {
	-fx-background-color: -green-300;
	-bar-color: -green-300;
}
.bg-green-400 {
	-fx-background-color: -green-400;
	-bar-color: -green-400;
}
.bg-green-500 {
	-fx-background-color: -green-500;
	-bar-color: -green-500;
}
.bg-green-600 {
	-fx-background-color: -green-600;
	-bar-color: -green-600;
}
.bg-green-700 {
	-fx-background-color: -green-700;
	-bar-color: -green-700;
}
.bg-green-800 {
	-fx-background-color: -green-800;
	-bar-color: -green-800;
}
.bg-green-900 {
	-fx-background-color: -green-900;
	-bar-color: -green-900;
}
.bg-green-a100 {
	-fx-background-color: -green-a100;
	-bar-color: -green-a100;
}
.bg-green-a200 {
	-fx-background-color: -green-a200;
	-bar-color: -green-a200;
}
.bg-green-a400 {
	-fx-background-color: -green-a400;
	-bar-color: -green-a400;
}
.bg-green-a700 {
	-fx-background-color: -green-a700;
	-bar-color: -green-a700;
}
.bg-light-green {
	-fx-background-color: -light-green;
	-bar-color: -light-green;
}
.bg-light-green-50 {
	-fx-background-color: -light-green-50;
	-bar-color: -light-green-50;
}
.bg-light-green-100 {
	-fx-background-color: -light-green-100;
	-bar-color: -light-green-100;
}
.bg-light-green-200 {
	-fx-background-color: -light-green-200;
	-bar-color: -light-green-200;
}
.bg-light-green-300 {
	-fx-background-color: -light-green-300;
	-bar-color: -light-green-300;
}
.bg-light-green-400 {
	-fx-background-color: -light-green-400;
	-bar-color: -light-green-400;
}
.bg-light-green-500 {
	-fx-background-color: -light-green-500;
	-bar-color: -light-green-500;
}
.bg-light-green-600 {
	-fx-background-color: -light-green-600;
	-bar-color: -light-green-600;
}
.bg-light-green-700 {
	-fx-background-color: -light-green-700;
	-bar-color: -light-green-700;
}
.bg-light-green-800 {
	-fx-background-color: -light-green-800;
	-bar-color: -light-green-800;
}
.bg-light-green-900 {
	-fx-background-color: -light-green-900;
	-bar-color: -light-green-900;
}
.bg-light-green-a100 {
	-fx-background-color: -light-green-a100;
	-bar-color: -light-green-a100;
}
.bg-light-green-a200 {
	-fx-background-color: -light-green-a200;
	-bar-color: -light-green-a200;
}
.bg-light-green-a400 {
	-fx-background-color: -light-green-a400;
	-bar-color: -light-green-a400;
}
.bg-light-green-a700 {
	-fx-background-color: -light-green-a700;
	-bar-color: -light-green-a700;
}
.bg-lime {
	-fx-background-color: -lime;
	-bar-color: -lime;
}
.bg-lime-50 {
	-fx-background-color: -lime-50;
	-bar-color: -lime-50;
}
.bg-lime-100 {
	-fx-background-color: -lime-100;
	-bar-color: -lime-100;
}
.bg-lime-200 {
	-fx-background-color: -lime-200;
	-bar-color: -lime-200;
}
.bg-lime-300 {
	-fx-background-color: -lime-300;
	-bar-color: -lime-300;
}
.bg-lime-400 {
	-fx-background-color: -lime-400;
	-bar-color: -lime-400;
}
.bg-lime-500 {
	-fx-background-color: -lime-500;
	-bar-color: -lime-500;
}
.bg-lime-600 {
	-fx-background-color: -lime-600;
	-bar-color: -lime-600;
}
.bg-lime-700 {
	-fx-background-color: -lime-700;
	-bar-color: -lime-700;
}
.bg-lime-800 {
	-fx-background-color: -lime-800;
	-bar-color: -lime-800;
}
.bg-lime-900 {
	-fx-background-color: -lime-900;
	-bar-color: -lime-900;
}
.bg-lime-a100 {
	-fx-background-color: -lime-a100;
	-bar-color: -lime-a100;
}
.bg-lime-a200 {
	-fx-background-color: -lime-a200;
	-bar-color: -lime-a200;
}
.bg-lime-a400 {
	-fx-background-color: -lime-a400;
	-bar-color: -lime-a400;
}
.bg-lime-a700 {
	-fx-background-color: -lime-a700;
	-bar-color: -lime-a700;
}
.bg-yellow {
	-fx-background-color: -yellow;
	-bar-color: -yellow;
}
.bg-yellow-50 {
	-fx-background-color: -yellow-50;
	-bar-color: -yellow-50;
}
.bg-yellow-100 {
	-fx-background-color: -yellow-100;
	-bar-color: -yellow-100;
}
.bg-yellow-200 {
	-fx-background-color: -yellow-200;
	-bar-color: -yellow-200;
}
.bg-yellow-300 {
	-fx-background-color: -yellow-300;
	-bar-color: -yellow-300;
}
.bg-yellow-400 {
	-fx-background-color: -yellow-400;
	-bar-color: -yellow-400;
}
.bg-yellow-500 {
	-fx-background-color: -yellow-500;
	-bar-color: -yellow-500;
}
.bg-yellow-600 {
	-fx-background-color: -yellow-600;
	-bar-color: -yellow-600;
}
.bg-yellow-700 {
	-fx-background-color: -yellow-700;
	-bar-color: -yellow-700;
}
.bg-yellow-800 {
	-fx-background-color: -yellow-800;
	-bar-color: -yellow-800;
}
.bg-yellow-900 {
	-fx-background-color: -yellow-900;
	-bar-color: -yellow-900;
}
.bg-yellow-a100 {
	-fx-background-color: -yellow-a100;
	-bar-color: -yellow-a100;
}
.bg-yellow-a200 {
	-fx-background-color: -yellow-a200;
	-bar-color: -yellow-a200;
}
.bg-yellow-a400 {
	-fx-background-color: -yellow-a400;
	-bar-color: -yellow-a400;
}
.bg-yellow-a700 {
	-fx-background-color: -yellow-a700;
	-bar-color: -yellow-a700;
}
.bg-amber {
	-fx-background-color: -amber;
	-bar-color: -amber;
}
.bg-amber-50 {
	-fx-background-color: -amber-50;
	-bar-color: -amber-50;
}
.bg-amber-100 {
	-fx-background-color: -amber-100;
	-bar-color: -amber-100;
}
.bg-amber-200 {
	-fx-background-color: -amber-200;
	-bar-color: -amber-200;
}
.bg-amber-300 {
	-fx-background-color: -amber-300;
	-bar-color: -amber-300;
}
.bg-amber-400 {
	-fx-background-color: -amber-400;
	-bar-color: -amber-400;
}
.bg-amber-500 {
	-fx-background-color: -amber-500;
	-bar-color: -amber-500;
}
.bg-amber-600 {
	-fx-background-color: -amber-600;
	-bar-color: -amber-600;
}
.bg-amber-700 {
	-fx-background-color: -amber-700;
	-bar-color: -amber-700;
}
.bg-amber-800 {
	-fx-background-color: -amber-800;
	-bar-color: -amber-800;
}
.bg-amber-900 {
	-fx-background-color: -amber-900;
	-bar-color: -amber-900;
}
.bg-amber-a100 {
	-fx-background-color: -amber-a100;
	-bar-color: -amber-a100;
}
.bg-amber-a200 {
	-fx-background-color: -amber-a200;
	-bar-color: -amber-a200;
}
.bg-amber-a400 {
	-fx-background-color: -amber-a400;
	-bar-color: -amber-a400;
}
.bg-amber-a700 {
	-fx-background-color: -amber-a700;
	-bar-color: -amber-a700;
}
.bg-orange {
	-fx-background-color: -orange;
	-bar-color: -orange;
}
.bg-orange-50 {
	-fx-background-color: -orange-50;
	-bar-color: -orange-50;
}
.bg-orange-100 {
	-fx-background-color: -orange-100;
	-bar-color: -orange-100;
}
.bg-orange-200 {
	-fx-background-color: -orange-200;
	-bar-color: -orange-200;
}
.bg-orange-300 {
	-fx-background-color: -orange-300;
	-bar-color: -orange-300;
}
.bg-orange-400 {
	-fx-background-color: -orange-400;
	-bar-color: -orange-400;
}
.bg-orange-500 {
	-fx-background-color: -orange-500;
	-bar-color: -orange-500;
}
.bg-orange-600 {
	-fx-background-color: -orange-600;
	-bar-color: -orange-600;
}
.bg-orange-700 {
	-fx-background-color: -orange-700;
	-bar-color: -orange-700;
}
.bg-orange-800 {
	-fx-background-color: -orange-800;
	-bar-color: -orange-800;
}
.bg-orange-900 {
	-fx-background-color: -orange-900;
	-bar-color: -orange-900;
}
.bg-orange-a100 {
	-fx-background-color: -orange-a100;
	-bar-color: -orange-a100;
}
.bg-orange-a200 {
	-fx-background-color: -orange-a200;
	-bar-color: -orange-a200;
}
.bg-orange-a400 {
	-fx-background-color: -orange-a400;
	-bar-color: -orange-a400;
}
.bg-orange-a700 {
	-fx-background-color: -orange-a700;
	-bar-color: -orange-a700;
}
.bg-deep-orange {
	-fx-background-color: -deep-orange;
	-bar-color: -deep-orange;
}
.bg-deep-orange-50 {
	-fx-background-color: -deep-orange-50;
	-bar-color: -deep-orange-50;
}
.bg-deep-orange-100 {
	-fx-background-color: -deep-orange-100;
	-bar-color: -deep-orange-100;
}
.bg-deep-orange-200 {
	-fx-background-color: -deep-orange-200;
	-bar-color: -deep-orange-200;
}
.bg-deep-orange-300 {
	-fx-background-color: -deep-orange-300;
	-bar-color: -deep-orange-300;
}
.bg-deep-orange-400 {
	-fx-background-color: -deep-orange-400;
	-bar-color: -deep-orange-400;
}
.bg-deep-orange-500 {
	-fx-background-color: -deep-orange-500;
	-bar-color: -deep-orange-500;
}
.bg-deep-orange-600 {
	-fx-background-color: -deep-orange-600;
	-bar-color: -deep-orange-600;
}
.bg-deep-orange-700 {
	-fx-background-color: -deep-orange-700;
	-bar-color: -deep-orange-700;
}
.bg-deep-orange-800 {
	-fx-background-color: -deep-orange-800;
	-bar-color: -deep-orange-800;
}
.bg-deep-orange-900 {
	-fx-background-color: -deep-orange-900;
	-bar-color: -deep-orange-900;
}
.bg-deep-orange-a100 {
	-fx-background-color: -deep-orange-a100;
	-bar-color: -deep-orange-a100;
}
.bg-deep-orange-a200 {
	-fx-background-color: -deep-orange-a200;
	-bar-color: -deep-orange-a200;
}
.bg-deep-orange-a400 {
	-fx-background-color: -deep-orange-a400;
	-bar-color: -deep-orange-a400;
}
.bg-deep-orange-a700 {
	-fx-background-color: -deep-orange-a700;
	-bar-color: -deep-orange-a700;
}
.bg-brown {
	-fx-background-color: -brown;
	-bar-color: -brown;
}
.bg-brown-50 {
	-fx-background-color: -brown-50;
	-bar-color: -brown-50;
}
.bg-brown-100 {
	-fx-background-color: -brown-100;
	-bar-color: -brown-100;
}
.bg-brown-200 {
	-fx-background-color: -brown-200;
	-bar-color: -brown-200;
}
.bg-brown-300 {
	-fx-background-color: -brown-300;
	-bar-color: -brown-300;
}
.bg-brown-400 {
	-fx-background-color: -brown-400;
	-bar-color: -brown-400;
}
.bg-brown-500 {
	-fx-background-color: -brown-500;
	-bar-color: -brown-500;
}
.bg-brown-600 {
	-fx-background-color: -brown-600;
	-bar-color: -brown-600;
}
.bg-brown-700 {
	-fx-background-color: -brown-700;
	-bar-color: -brown-700;
}
.bg-brown-800 {
	-fx-background-color: -brown-800;
	-bar-color: -brown-800;
}
.bg-brown-900 {
	-fx-background-color: -brown-900;
	-bar-color: -brown-900;
}
.bg-grey {
	-fx-background-color: -grey;
	-bar-color: -grey;
}
.bg-grey-50 {
	-fx-background-color: -grey-50;
	-bar-color: -grey-50;
}
.bg-grey-100 {
	-fx-background-color: -grey-100;
	-bar-color: -grey-100;
}
.bg-grey-200 {
	-fx-background-color: -grey-200;
	-bar-color: -grey-200;
}
.bg-grey-300 {
	-fx-background-color: -grey-300;
	-bar-color: -grey-300;
}
.bg-grey-400 {
	-fx-background-color: -grey-400;
	-bar-color: -grey-400;
}
.bg-grey-500 {
	-fx-background-color: -grey-500;
	-bar-color: -grey-500;
}
.bg-grey-600 {
	-fx-background-color: -grey-600;
	-bar-color: -grey-600;
}
.bg-grey-700 {
	-fx-background-color: -grey-700;
	-bar-color: -grey-700;
}
.bg-grey-800 {
	-fx-background-color: -grey-800;
	-bar-color: -grey-800;
}
.bg-grey-900 {
	-fx-background-color: -grey-900;
	-bar-color: -grey-900;
}
.bg-blue-grey {
	-fx-background-color: -blue-grey;
	-bar-color: -blue-grey;
}
.bg-blue-grey-50 {
	-fx-background-color: -blue-grey-50;
	-bar-color: -blue-grey-50;
}
.bg-blue-grey-100 {
	-fx-background-color: -blue-grey-100;
	-bar-color: -blue-grey-100;
}
.bg-blue-grey-200 {
	-fx-background-color: -blue-grey-200;
	-bar-color: -blue-grey-200;
}
.bg-blue-grey-300 {
	-fx-background-color: -blue-grey-300;
	-bar-color: -blue-grey-300;
}
.bg-blue-grey-400 {
	-fx-background-color: -blue-grey-400;
	-bar-color: -blue-grey-400;
}
.bg-blue-grey-500 {
	-fx-background-color: -blue-grey-500;
	-bar-color: -blue-grey-500;
}
.bg-blue-grey-600 {
	-fx-background-color: -blue-grey-600;
	-bar-color: -blue-grey-600;
}
.bg-blue-grey-700 {
	-fx-background-color: -blue-grey-700;
	-bar-color: -blue-grey-700;
}
.bg-blue-grey-800 {
	-fx-background-color: -blue-grey-800;
	-bar-color: -blue-grey-800;
}
.bg-blue-grey-900 {
	-fx-background-color: -blue-grey-900;
	-bar-color: -blue-grey-900;
}

/* @Insets */

.border-insets-1 {
    -fx-border-insets: 1px;
}

.border-insets-5 {
    -fx-border-insets: 5px;
}

.border-insets-10 {
    -fx-border-insets: 10px;
}

.bg-insets-1 {
    -fx-background-insets: 1px;
}

.bg-insets-5 {
    -fx-background-insets: 5px;
}

.bg-insets-10 {
    -fx-background-insets: 10px;
}
/* @Padding */
.padding-2 {
    -fx-padding: 2px;
}
.padding-5 {
    -fx-padding: 5px;
}
.padding-10 {
    -fx-padding: 10px;
}
.padding-20 {
    -fx-padding: 20px;
}
/* @Stroke Width */
.stroke-primary {
    -fx-stroke: -primary;
}
.stroke-info {
    -fx-stroke: -info;
}
.stroke-success {
    -fx-stroke: -success;
}

.stroke-warning {
    -fx-stroke: -warning;
}

.stroke-danger {
    -fx-stroke: -danger;
}

.stroke-secondary {
    -fx-stroke: -secondary;
}

.stroke-unique {
    -fx-stroke: -unique;
}

.stroke-elegant {
    -fx-stroke: -elegant;
}

.stroke-white {
    -fx-stroke: white;
}

.stroke-light-gray {
    -fx-stroke: -light-gray;
}

.stroke-light-gray-2 {
    -fx-stroke: -light-gray-2;
}

.stroke-medium-gray {
    -fx-stroke: -medium-gray;
}

.stroke-medium-gray-2 {
    -fx-stroke: -medium-gray-2;
}

.stroke-dark-gray {
    -fx-stroke: -dark-gray;
}

.stroke-dark-gray-2 {
    -fx-stroke: -dark-gray-2;
}

/* @Stroke size */


.stroke-1 {
    -fx-stroke-width: 1px;
}

.stroke-2 {
    -fx-stroke-width: 2px;
}

.stroke-3 {
    -fx-stroke-width: 3px;
}

.stroke-4 {
    -fx-stroke-width: 4px;
}

.stroke-4 {
    -fx-stroke-width: 5px;
}



/* @Border-size */

.border-1 {
    -fx-border-width: 1px;
}

.border-2 {
    -fx-border-width: 2px;
}

.border-3 {
    -fx-border-width: 3px;
}

.border-4 {
    -fx-border-width: 4px;
}

.border-5 {
    -fx-border-width: 5px;
}

.border-b-1 {
    -fx-border-width : 0px 0px 1px 0px;
}

.border-t-1 {
    -fx-border-width : 1px 0px 0px 0px;
}

.border-r-1 {
    -fx-border-width : 0px 1px 0px 0px;
}

.border-l-1 {
    -fx-border-width : 0px 0px 0px 1px;
}

.border-l-2 {
    -fx-border-width : 0px 0px 0px 2px;
}

.border-l-3 {
    -fx-border-width : 0px 0px 0px 3px;
}

.border-l-4 {
    -fx-border-width : 0px 0px 0px 4px;
}

/* @Border-color */

.border-primary {
    -fx-border-color: -primary;
}

.border-info {
    -fx-border-color: -info;
}

.border-success {
    -fx-border-color: -success;
}

.border-warning {
    -fx-border-color: -warning;
}

.border-danger {
    -fx-border-color: -danger;
}


.border-secondary {
    -fx-border-color: -secondary;
}

.border-unique {
    -fx-border-color: -unique;
}


.border-elegant {
    -fx-border-color: -elegant;
}

.border-white {
    -fx-border-color: white;
}



.border-light-gray {
    -fx-border-color: -light-gray;
}

.border-light-gray-2 {
    -fx-border-color: -light-gray-2;
}

.border-medium-gray {
    -fx-border-color: -medium-gray;
}

.border-medium-gray-2 {
    -fx-border-color: -medium-gray-2;
}

.border-dark-gray {
    -fx-border-color: -dark-gray;
}

.border-dark-gray-2 {
    -fx-border-color: -dark-gray-2;
}


/* @Border-radius */
.radius-0 {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.radius-2 {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}
.radius-5 {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.radius-6 {
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}
.radius-7 {
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
}
.radius-8 {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}
.radius-10 {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
/* @Raised */
.raised:pressed, .raised:focused
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 18, 0 , 0 , 10 );
}
.raised:pressed, .raised:focused
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 18, 0 , 0 , 10 );
}

.raised {
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 15, 0 , 0 , 4 );
}

/* @Depth */

.depth-1
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.1) , 5, 0 , 0 , 1 );
}

.depth-2
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.1) , 10, 0 , 0 , 1 );
}

.depth-3
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.1) , 10, 0 , 0 , 2 );
}

