
/*******************************************************************************
*                                                                              *
    @RadioButton
*                                                                              *
*******************************************************************************/

RadioButton{
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

RadioButton .radio {
    -fx-background-color: transparent;
    -fx-border-color: -border-color;
    -fx-border-radius: 100px;
    -fx-background-insets: 14px;
    -fx-border-width: 2px;
    -fx-padding: 5px;
}

RadioButton:hover .radio,
RadioButton:selected:hover .radio
{
    -fx-border-color: -border-hover;
}

RadioButton:selected .radio  {
    -fx-background-color: white;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 100px;
    -fx-border-width: 2px;
}

RadioButton:selected .radio .dot {
    -fx-background-color: -fx-accent;
    -fx-background-insets: -2px;
}




