
.root:dark-theme .scroll-bar:vertical,
.root:dark-theme .scroll-bar:horizontal {
    -fx-background-color: #F0F4F810;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: #F0F4F8;
    -fx-background-radius: 2px;
}
.scroll-bar:vertical {

    -fx-min-width: 12px;
    -fx-pref-width: 12px;
    -fx-max-width: 12px;
}

.scroll-bar:horizontal {
    -fx-min-height: 12px;
    -fx-pref-height: 12px;
    -fx-max-height: 12px;
}

.root:dark-theme .scroll-bar:horizontal .thumb,
.root:dark-theme .scroll-bar:vertical .thumb {
    -fx-background-color: -dark-gray-2;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-radius: 2px;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0 0 0 0;
}
