.slider {

}

.slider .track {
    -fx-background-color: -light-gray;
    -fx-background-radius: 4px;
    -fx-pref-height: 6px;
}

.slider:hover .track {
    -fx-background-color:  -light-gray-2;
}

.slider .thumb {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 50%;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;

    /*-fx-effect: dropshadow(three-pass-box, rgba(37, 99, 235, 0.2), 6, 0, 0, 3);*/

    -fx-padding: 10px;
}

.slider .thumb {
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-border-insets: -1px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .1), 10, 0.5, 0, 1);
}

.slider .thumb:hover {
    -fx-background-color: derive(-fx-accent, -10%);
    -fx-cursor: hand;
}

.slider .thumb:pressed {
    -fx-background-color: derive(-fx-accent, -20%);
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    -fx-effect: dropshadow(three-pass-box, rgba(37, 99, 235, 0.4), 10, 0, 0, 0);
}

.slider .axis {
    -fx-tick-label-fill: red;
    -fx-tick-label-font-size: 11px;
}

.slider .axis .axis-tick-mark {
    -fx-stroke: -medium-gray-2;
}

.slider .track {
    -fx-control-inner-background: #e0e0e0; /* Cor padrão do fundo */
    -fx-background-color: -light-gray-2, -light-gray-2, -light-gray;
}

