.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label
{
    -fx-pref-width : 110px;
}
.tab-pane .tab-header-area .headers-region .tab .text
{
    -fx-fill: -text-color;
}
.tab-pane .tab-header-area .headers-region .tab:selected .text
{
    -fx-fill: -fx-accent;
}
.tab-pane .tab-header-area .headers-region .tab:selected
{
  -fx-faint-focus-color : transparent;
  -fx-focus-color : transparent;
}

.tab-pane .tab-header-area .headers-region .tab:hover .text
{
    -fx-fill: -hover-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label
{

}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label .icon-container .icon
{
  -fx-fill: -fx-accent;
}
.tab-pane:top .tab-header-area .tab-header-background
{
  -fx-border-width : 0px 0px 2px 0px;
}

.tab-pane .tab-header-area .headers-region .tab
{
  -fx-border-width : 0px 0px 5px 0px;
}

.tab-pane .tab-header-area .headers-region .tab:selected:top
{
  -fx-border-width : 2px 0px 2px 0px;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label
{
  -fx-text-fill : -text-color;
  -fx-graphic-text-gap: 15px;
}
.tab-pane .tab-header-area .headers-region .tab
{
  -fx-pref-height : 40px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color : transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: -light-gray;
}

.tab-pane .tab-header-area .headers-region .tab:selected:top {
    -fx-border-color : -fx-accent;
    -fx-border-width : 0px 0px 2px 0px;
      -fx-font-family: "Poppins BoldItalic";
}

.tab-pane .tab-header-area .headers-region .tab {
    -fx-border-color : transparent;
    -fx-background-color : transparent;
    -fx-border-width : 0px 0px 2px 0px;
    -fx-border-radius : 2px;
}

.tab-pane .tab-header-area .headers-region .tab:bottom:selected {
    -fx-border-width : 2px 0px 0px 0px;
    -fx-border-color : -fx-accent;
    -fx-background-color : transparent;
    -fx-border-radius : 2px;
}

.tab-pane .tab-header-area .headers-region .tab:right:selected {
    -fx-border-width : 0px 0px 2px 0px;
    -fx-border-color : -fx-accent;
    -fx-background-color : transparent;
    -fx-border-radius : 2px;
}

.tab-pane .tab-header-area .headers-region .tab:left:selected {
    -fx-border-width : 0px 0px 2px 0px;
    -fx-border-color : -fx-accent;
    -fx-background-color : transparent;
    -fx-border-radius : 2px;
}

.tab-pane .tab-header-area .headers-region .tab:hover {
    -fx-background-color: -light-gray-2;
    -fx-cursor: hand;
}
