
.text-box {
}

.text-box {
    -fx-spacing: 15px;
}

.text-box .editor  {
    -fx-padding: 0px 15px 0px 15px;

    -fx-background-color: red;
    -fx-border-color: red;
    -fx-fill: red;
    -fx-border-width: 0px;

    -fx-skin: "io.github.gleidsonmt.glad.controls.skin.MaterialSkinTextField";

}

.text-box .text-box-base {
    -fx-spacing: 8px;
}

.text-box .editor {
    -fx-border-width: 0px;
    /*-fx-background-color: red;*/

}

.text-box .label {
    -fx-background-color: transparent;
    -fx-padding: 0px 2px 0px 2px;
    -fx-font-size: 12px;
}

.text-box:animate .label {
    -fx-background-color: white;
}
