
TextField {
    -fx-text-fill: -text-color;
    -fx-background-color: -fx-background;
    -fx-border-color: -light-gray-2;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-padding: 0px 5px 0px 5px;
    -fx-faint-focus-color: transparent;
}

TextField:hover {
    -fx-background-color: transparent;
}

TextField:focused:hover,
TextField:focused {
    -fx-border-color: -fx-accent;
}

TextField:readonly:hover,
TextField:readonly:focused,
TextField:readonly:focused:hover,
TextField:readonly {
    -fx-border-color: transparent;
}

TextField-error:focused,
TextField-error {
    -fx-accent: -red-700;
    -fx-border-color: -fx-accent;
}

.inside-text-field:focused,
.inside-text-field:hover,
.inside-text-field:focused:hover,
.inside-text-field {
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}


