

.toggle-button {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-pref-height: 30px;
}

.toggle-button:armed {
  -fx-background-color : derive(-fx-accent, -40%), derive(-fx-accent, -40%), -fx-accent;
}

.toggle-button:selected {
    -fx-background-color : transparent;
}

.toggle-button:selected:focused {
    -fx-background-insets: 0px;
}

.toggle-button {
    -fx-padding: 4px;
    -fx-border-width: 2px;
    -fx-background-insets: 0px;
    -fx-border-color : transparent;
    -fx-background-color : -fx-accent;
}

.toggle-button .text {
    -fx-fill: white;
}

.toggle-button:selected {
    -fx-padding: 4px;
    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-accent, -20%), -fx-accent),
            linear-gradient(to bottom,
                    derive(-fx-accent, -22%) 0%,
                    derive(-fx-accent, -13%) 20%,
                    derive(-fx-accent, -11%) 50%);

}

.toggle-button:selected:focused {
    -fx-background-insets: 0px;
}