
ToggleButton {
    -fx-font-weight: bolder;
    -fx-graphic-text-gap: 10;

    -fx-cursor: hand;
    -fx-effect: none;
    -fx-background-color: transparent;
    -fx-background-radius: 12.5px;
    -fx-border-radius: 12.5px;
    -fx-pref-height: 40px;

    -icon-color: white;


    -fx-faint-focus-color: -fx-accent;
    -fx-focus-faint-color: -fx-accent;
    -fx-focus-color: -fx-accent;
}



ToggleButton:selected  {
    -fx-background-color: -fx-background;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .1), 5, 0, 0, 1);
}



ToggleButton:pressed:focused {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

ToggleButton:armed {
    /*-fx-background-color: derive(-fx-accent, -40%), derive(-fx-accent, -40%), -fx-accent;*/
}


ToggleButton:selected .text,
ToggleButton .text {
    -fx-fill: -text-color;
}

ToggleButton:focused {
    -fx-background-insets: 0px 0px -1px 0px;
}


ToggleButton:selected {
    -fx-background-insets: 0px 0px -1px 0px;
    -fx-background-color: -fx-background;
    /*-fx-background-color: -fx-shadow-highlight-color,*/
    /*linear-gradient(to bottom, derive(-fx-accent, -20%), -fx-accent),*/
    /*linear-gradient(to bottom,*/
    /*        derive(-fx-accent, -22%) 0%,*/
    /*        derive(-fx-accent, -13%) 20%,*/
    /*        derive(-fx-accent, -11%) 50%);*/

}

.btn-outlined:selected {
    -fx-background-color: -fx-accent;
    -text-color: white;
    -fx-border-color: -fx-accent;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}