ToggleButton {
    -fx-text-fill : white;
    -fx-font-weight : bolder;
    -fx-graphic-text-gap : 10;

    -fx-cursor : hand;
    -fx-effect: none;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-height: 40px;

    -icon-color: white;
    -text-color: white;

    -fx-faint-focus-color: -fx-accent;
    -fx-focus-faint-color: -fx-accent;
    -fx-focus-color: -fx-accent;
}


ToggleButton:pressed:focused {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

ToggleButton:armed {
  -fx-background-color : derive(-fx-accent, -40%), derive(-fx-accent, -40%), -fx-accent;
}


ToggleButton:selected {
    -fx-background-color : transparent;
}

ToggleButton .text {
    -fx-fill: -text-color;
}

ToggleButton:focused {
    -fx-background-insets: 0px 0px -1px 0px;
}


ToggleButton:selected {
    -fx-background-insets: 0px 0px -1px 0px;
    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-accent, -20%), -fx-accent),
            linear-gradient(to bottom,
                    derive(-fx-accent, -22%) 0%,
                    derive(-fx-accent, -13%) 20%,
                    derive(-fx-accent, -11%) 50%);

}



