
.tree-view {
    -fx-background-color: transparent;
     -fx-border-color: transparent;
}

.tree-view:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: -1.4, -0.3, 1;
    -fx-background-radius: 2, 0, 0;
}

.check-box-tree-cell .checkbox:selected .text {
    -fx-fill: red;
}

.check-box-tree-cell .check-box:selected:hover .mark,
.check-box-tree-cell .check-box:selected .mark  {
    -fx-background-color: white;
}

.tree-cell > .tree-disclosure-node,
.tree-table-row-cell > .tree-disclosure-node {
    -fx-padding: 14 10 4 8;
    -fx-alignment: center_right;
    -fx-background-color: transparent;
}
.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -text-color;
    /*-fx-padding: 0.333333em 0.229em 0.333333em 0.229em;  4 */
    -fx-padding: 6px 4px 6px 4px; /* 4 */
    -fx-alignment: center;
    -fx-shape: "M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z";
}
.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-rotate: 0;
}

.tree-cell {
    -fx-min-height: 45px;
}

.tree-cell:selected > .tree-disclosure-node > .arrow {
    -fx-background-color:-fx-accent;
}

.tree-cell:selected .text {
    -fx-fill: -fx-accent;
    -fx-font-weight: bold;
}