/*
    Created on : 01/02/2024
    Author     : Gleidson Neves da Silveira
    v. 1.0
*/

.label {
    -fx-shape: none;
}

.icon-container .icon {
    -fx-fill: -icon-color;
}

Text, .text {
    -fx-font-family: Poppins Regular;
    -fx-fill: -text-color;
    -fx-font-smoothing-type: gray; /* Works better with poppins */
}

/* @Font */

.font-instagram {
    -fx-font-family: "Instagram Sans";
}

.font-instagram-light {
     -fx-font-family: "Instagram Sans Light";
}

.font-instagram-medium {
     -fx-font-family: "Instagram Sans Medium";
}

.font-instagram-headline {
    -fx-font-family: "Instagram Sans Headline";
}

.font-poppins {
    -fx-font-family: "Poppins Regular";
}

/* @Size */
.text-10, .btn-small, .text-small, .text-small  .text {
  -fx-font-size : 10px;
}

.text-12, .h6, .h6  .text {
    -fx-font-size : 12px;
}

.text-14, .h5, .h5 .text {
  -fx-font-size : 14px;
}

.text-18, .text-18  .text, .h4, .h4 .text {
  -fx-font-size : 18px;
}

.text-20, .text-20  .text {
  -fx-font-size : 20px;
}

.text-22, .text-22  .text {
  -fx-font-size : 22px;
}

.text-24, .text-24  .text, .h3, .h3 .label .text {
  -fx-font-size : 24px;
}

.text-30, .h2, .h2 .text, .h2 .label .text {
  -fx-font-size : 30px;
}

.text-34, .text-34 .text {
  -fx-font-size : 34px;
}

.text-36, .h1, .h1  .text {
  -fx-font-size : 36px;
}

.text-48, .h1, .h1  .text {
  -fx-font-size : 48px;
}

.bold {
    -fx-font-weight: bold;
}

.bolder {
    -fx-font-weight: bolder;
}

.text-accent, .text-accent .text {
    -text-color: -fx-accent;
}

.text-primary {
    -text-color: -fx-accent;
}

.text-info {
     -text-color: -info;
}

.text-success {
    -text-color: -success;
}

.text-warning{
    -fx-text-fill: -warning;
    -text-color: -warning;
}

.text-danger {
    -text-color: -danger;
}

.text-secondary {
    -text-color: -secondary;
}

.text-unique {
    -text-color: -unique;
}

.text-elegant {
    -text-color: -elegant;
}

.text-white {
    -text-color: white;
}

.text-amber {
    -text-color: -amber;
}
