Editor {
}

.editor:hover,
.editor:focused,
.editor:hover:focused,
.editor {
    -fx-border-color: -fx-accent;
    -fx-text-fill: -text-color;
    -fx-background-color: -fx-background;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-faint-focus-color: transparent;
    /*-fx-pref-height: 300px;*/

    -fx-skin: "io.github.gleidsonmt.glad.controls.skin.MaterialSkinTextField";


}



Editor {
    /*-fx-border-insets: 20px 0px 0px 0px;*/
    /*-fx-pref-height: 60px; !* 40 + 20 *!*/
}
