.text-box-base {
    -fx-border-color: red;
    -fx-text-fill: -text-color;
    -fx-background-color: -fx-background;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-padding: 0px 5px 0px 5px;
    -fx-faint-focus-color: transparent;
}

TextBoxBase, PasswordBox,
TextBoxBase {
    -fx-border-color: -border-color;
    -fx-text-fill: -text-color;
    -fx-background-color: -fx-background;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-padding: 0px 5px 0px 5px;
    -fx-faint-focus-color: transparent;
}

.text-box .float-editor {
    -fx-padding: 0px 5px 0px 5px;
}



